<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	
	<meta th:include="common :: head_common" th:remove="tag"/>
</head>
<body>


<div th:include="common :: header_common" th:remove="tag"></div>



<section class="i_banner office_banner">
    <ul class="ib_slider">
        <li class="ibs1">
            <div class="viewVideo">
                <a href="javascript:;">观看视频</a>
                <i></i>
            </div>
        </li>
        <li class="ibs2">
        </li>
        <li class="ibs3">
        </li>
    </ul>
    <ul class="ib_mark slidesjs-pagination clear">
        <li class="slidesjs-pagination-item">
            <a href="javascript:void(0)" data-slidesjs-item="0" html="1">
                <div class="im_active"></div>
                <div class="im_progress"></div>
            </a>
        </li>
        <li class="slidesjs-pagination-item">
            <a href="javascript:void(0)" data-slidesjs-item="1" html="2">
                <div class="im_active"></div>
                <div class="im_progress"></div>
            </a>
        </li>
        <li class="slidesjs-pagination-item" style="margin-right:0;">
            <a href="javascript:void(0)" data-slidesjs-item="2" html="3">
                <div class="im_active"></div>
                <div class="im_progress"></div>
            </a>
        </li>
    </ul>
</section>
<section class="scences">
    <div class="section_title">
        <h3>能源浪费、效率低下、不够舒适</h3>
        <p> 严重困扰办公室行政运营</p>
    </div>
    <ul class="scences_lists">
        <li>
            <img src="/static/guanwang_second/front/images/new/greenOffice/scence_01.png" alt="">
            <p>下班忘记关灯关空调</p>
        </li>
        <li>
            <img src="/static/guanwang_second/front/images/new/greenOffice/scence_02.png" alt="">
            <p>设备能耗不清楚</p>
        </li>
        <li>
            <img src="/static/guanwang_second/front/images/new/greenOffice/scence_03.png" alt="">
            <p>光线充足还开灯</p>
        </li>
        <li>
            <img src="/static/guanwang_second/front/images/new/greenOffice/scence_04.png" alt="">
            <p>1个人加班开10台空调</p>
        </li>
        <li>
            <img src="/static/guanwang_second/front/images/new/greenOffice/scence_05.png" alt="">
            <p>电路安全隐患</p>
        </li>
        <li>
            <img src="/static/guanwang_second/front/images/new/greenOffice/scence_06.png" alt="">
            <p>照明舒适度不够</p>
        </li>
        <li>
            <img src="/static/guanwang_second/front/images/new/greenOffice/scence_07.png" alt="">
            <p>电脑打印机待机费电</p>
        </li>
        <li>
            <img src="/static/guanwang_second/front/images/new/greenOffice/scence_08.png" alt="">
            <p>管理混乱，人工成本高</p>
        </li>
    </ul>
    <a class="join_Btn" href="javascript:;">立即升级办公环境</a>
</section>
<section class="sceSecond">
    <div class="section_title">
        <h3>场景式智能管理策略，遏制人为能源浪费</h3>
        <p>对整栋大楼照明、空调、遮阳等用电设备进行监测，集中控制与分区域控制相结合，提高管理效能。</p>
    </div>
    <div class="macbook">
        <img src="/static/guanwang_second/front/images/new/greenOffice/sceSecond_01.jpg" alt="">
    </div>
    <ul class="sceSecond_list">
        <li>
            <div class="sceIcon1"></div>
            <h3>24小时能耗监测</h3>
            <p>可以分部门、区域、日期监测办公能能耗，并可根据年月日进行精准统计分析。</p>
        </li>
        <li>
            <div class="sceIcon2"></div>
            <h3>场景化智能策略</h3>
            <p>利用情景功能，自动根据环境参数调整照明、中央空调工作状态，实现自动控制。</p>
        </li>
        <li>
            <div class="sceIcon3"></div>
            <h3>远程控制24小时值守</h3>
            <p>管理者不论是否在办公室都能轻松掌握办公室所有设备的用电状态，一键式关闭所有用电设备，实现远程管理。</p>
        </li>
        <li>
            <div class="sceIcon4"></div>
            <h3>多用户权限管理</h3>
            <p>分为管理员权限和普通用户权限，不同办公区域也会分配不同的设备的控制权限。</p>
        </li>
    </ul>
</section>
<section class="chartImg">
    <div class="section_title">
        <h3>数据驱动节能优化，每千平米节省4000到6000元</h3>
        <p>GreenOffice智能云服务器会收集企业的能耗情况，利用大数据运算进行分析和优化，为企业提供针对性的节能策略。</p>
    </div>
    <img src="/static/guanwang_second/front/images/new/greenOffice/chartImg.jpg" alt="">
    <p>根据调光、人体感应、空调智能自控等节能策略，GreenOffice在保证办公舒适度的同时，使整体能耗降低30%。</p>
</section>
<section class="secure">
    <div class="section_title">
        <h3>云端规划用电安全，火灾隐患提前预警</h3>
        <p>智能云服务器对楼宇用电进行监测，对各办公区用电规划，实现安全用电。</p>
    </div>
    <ul class="icon_secure">
        <li>
            <div class="secure_icon1"></div>
            <i></i>
            <p>实现功率统计</p>
        </li>
        <li>
            <div class="secure_icon2"></div>
            <i></i>
            <p>自定义保护电流</p>
        </li>
        <li>
            <div class="secure_icon3"></div>
            <i></i>
            <p>用电安全预警</p>
        </li>
        <li>
            <div class="secure_icon4"></div>
            <i></i>
            <p>异常报警提醒</p>
        </li>
    </ul>
</section>
<section class="flowchart">
    <div class="section_title">
        <h3>GreenOffice如何让办公环境智能化</h3>
    </div>
    <div class="flow">
        <div class="leftShow">
            <img src="/static/guanwang_second/front/images/new/greenOffice/flow.jpg" alt="">
        </div>
        <div class="centerTap">
            <div class="dashed_block select1 taped">
                <p>照明系统</p>
                <p>智能化管控</p>
            </div>
            <div class="dashed_block select2">
                <p>空调和环境系统</p>
                <p>智能化</p>
            </div>
            <div class="dashed_block select3">
                <p>门窗&遮阳</p>
                <p>智能化管控</p>
            </div>
            <div class="dashed_block select4">
                <p>低成本能源</p>
                <p>监控</p>
            </div>
            <div class="dashed_block select5">
                <p>其他办公设备</p>
                <p>智能化</p>
            </div>
        </div>
        <div class="rightShow">
            <img class="right1" src="/static/guanwang_second/front/images/new/greenOffice/flowRight_01.png" alt="">
            <img class="right2 hidden" src="/static/guanwang_second/front/images/new/greenOffice/flowRight_02.png" alt="">
            <img class="right3 hidden" src="/static/guanwang_second/front/images/new/greenOffice/flowRight_03.png" alt="">
            <img class="right4 hidden" src="/static/guanwang_second/front/images/new/greenOffice/flowRight_04.png" alt="">
            <img class="right5 hidden" src="/static/guanwang_second/front/images/new/greenOffice/flowRight_05.png" alt="">
        </div>
    </div>
</section>
<section class="products">
    <div class="section_title">
        <h3>GreenOffice相关产品</h3>
    </div>
    <ul class="tap">
        <li>
            <a class="tap1 active" href="javascript:;">智能开关</a>
        </li>
        <i></i>
        <li>
            <a class="tap2" href="javascript:;">智能控制器</a>
        </li>
        <i></i>
        <li>
            <a class="tap3" href="javascript:;">智能插座</a>
        </li>
        <i></i>
        <li>
            <a class="tap4" href="javascript:;">智能传感器</a>
        </li>
    </ul>
    <div class="content">
        <ul class="list1">
            <li>
                <img src="/static/guanwang_second/front/images/new/greenOffice/products_03.jpg" alt="">
                <p  class="tag">极锐智能开关</p>
                <a href="/product/110.html">
                    <div class="description">
                        <h3 class="title">极锐智能开关</h3>
                        <p>全镁铝合金材质、6道CNC精雕打磨、5道阳极氧化和喷砂，RelayPro-Tech™ 技术让继电器得到严谨苛刻的保护。</p>
                    </div>
                </a>
            </li>
            <li>
                <img src="/static/guanwang_second/front/images/new/greenOffice/products_04.png" alt="">
                <p class="tag">MixPad智能场景面板</p>
                <a href="/product/114.html">
                    <div class="description">
                        <h3 class="title">MixPad智能场景面板</h3>
                        <p>自定义四位智能按键,人体交互两步到位, MultiPlay显示技术，及时推送更多内容。</p>
                    </div>
                </a>
            </li>
            <li>
                <img src="/static/guanwang_second/front/images/new/greenOffice/products_01.jpg" alt="">
                <p class="tag">极光智能开关</p>
                <a href="/product/15.html">
                    <div class="description">
                        <h3 class="title">极光智能开关</h3>
                        <p>触摸面板，让你轻轻一触，即可开关。支持远程控制，让你匆忙下班路上，也能及时关闭灯光，节能又省事。</p>
                    </div>
                </a>
            </li>
            <li>
                <img src="/static/guanwang_second/front/images/new/greenOffice/products_02.jpg" alt="">
                <p class="tag">白金智能开关</p>
                <a href="/product/16.html">
                    <div class="description">
                        <h3 class="title">白金智能开关</h3>
                        <p>结构上采用全新的分离式可拆卸结构设计，兼容传统开关的安装和接线方式；高灵敏电容式触摸设计，白色的钢琴烤漆加上幽蓝背光，极具科技感和时尚感。</p>
                    </div>
                </a>
            </li>
        </ul>
        <ul class="list2 hidden">
            <li>
                <img src="/static/guanwang_second/front/images/new/greenOffice/products_05.jpg" alt="">
                <p class="tag">智能空气开关管理器</p>
                <a href="javascript:;">
                    <div class="description">
                        <h3 class="title">智能空开管理器</h3>
                        <p>标准的Zigbee HA和行业互联互通连接主机兼容传统配电箱安装结构，集成于配电箱安装。</p>
                        <ul>
                            <li>连接分路控制器</li>
                            <li>节能信息管理</li>
                            <li>用电质量管理</li>
                        </ul>
                    </div>
                </a>
            </li>
            <li>
                <img src="/static/guanwang_second/front/images/new/greenOffice/products_06.jpg" alt="">
                <p class="tag">智能空气开关</p>
                <a href="javascript:;">
                    <div class="description">
                        <h3 class="title">智能空气开关</h3>
                        <p>远程控制/本地手动控制，电量精确计量。</p>
                        <ul>
                            <li>过载/过压保护</li>
                            <li>火灾预警----用电异常监控</li>
                            <li>自定义过载保护电流与保护时间</li>
                        </ul>
                    </div>
                </a>
            </li>
            <li>
                <img src="/static/guanwang_second/front/images/new/greenOffice/products_07.jpg" alt="">
                <p class="tag">中央空调面板</p>
                <a href="javascript:;">
                    <div class="description">
                        <h3 class="title">中央空调面板</h3>
                        <p>控制中央空调运行状态，定时、远程开关，同时还能联动温湿度传感器，实时调节空调温度高低。</p>
                        <ul>
                            <li>ZigBee无线通讯技术</li>
                            <li>远程控制</li>
                            <li>定时功能</li>
                            <li>传感联动</li>
                        </ul>
                    </div>
                </a>
            </li>
            <li>
                <img src="/static/guanwang_second/front/images/new/greenOffice/products_08.jpg" alt="">
                <p class="tag">红外转发器</p>
                <a href="javascript:;">
                    <div class="description">
                        <h3 class="title">红外转发器</h3>
                        <p>控制挂壁空调运行状态，定时、远程开关，同时还能联动温湿度传感器，实时调节空调温度高低。</p>
                        <ul>
                            <li>ZigBee无线通讯技术</li>
                            <li>远程控制</li>
                            <li>定时功能</li>
                            <li>传感联动</li>
                        </ul>
                    </div>
                </a>
            </li>
            <li>
                <img src="/static/guanwang_second/front/images/new/greenOffice/products_09.jpg" alt="">
                <p class="tag">智能窗帘电机</p>
                <a href="/product/21.html">
                    <div class="description">
                        <h3 class="title">智能窗帘电机</h3>
                        <p>新一代机械力离合设计兼顾远程控制和手拉控制。</p>
                        <ul>
                            <li>ZigBee无线通讯技术</li>
                            <li>手机控制/手持遥控</li>
                            <li>情景联动/状态显示</li>
                            <li>手拉启动</li>
                        </ul>
                    </div>
                </a>
            </li>
            <li>
                <img src="/static/guanwang_second/front/images/new/greenOffice/products_10.png" alt="">
                <p class="tag">智能升降帘电机</p>
                <a href="javascript:;">
                    <div class="description">
                        <h3 class="title">智能升降帘电机</h3>
                        <p>新一代超静音设计，兼顾远程控制和遥控控制。</p>
                        <ul>
                            <li>ZigBee无线通讯技术</li>
                            <li>手机控制/手持遥控</li>
                            <li>情景联动/状态显示</li>
                        </ul>
                    </div>
                </a>
            </li>
        </ul>
        <ul class="list3 hidden">
            <li>
                <img src="/static/guanwang_second/front/images/new/greenOffice/products_13.png" alt="">
                <p class="tag">智能插座</p>
                <a href="javascript:;">
                    <div class="description">
                        <h3 class="title">智能插座</h3>
                        <p>无论多远，都可以通过手机控制关掉忘记关的电器电源。</p>
                        <ul>
                            <li>自组网功能</li>
                            <li>无需对码学习</li>
                            <li>断电记忆功能</li>
                            <li>手动控制功能</li>
                            <li>状态反馈</li>
                        </ul>
                    </div>
                </a>
            </li>
            <li>
                <img src="/static/guanwang_second/front/images/new/greenOffice/products_14.png" alt="">
                <p class="tag">Wi-Fi智能插座</p>
                <a href="/product/45.html">
                    <div class="description">
                        <h3 class="title">Wi-Fi智能插座</h3>
                        <ul>
                            <li>采用VO级别防火材料，750°高温阻燃。</li>
                            <li>一体式插头  不易变形，更安全。</li>
                            <li>一键情景联动 与其他智能设备联动，实现全屋智能化。</li>
                            <li>节能提醒功能：如果插座未关，会提醒用户及时关闭。</li>
                            <li>历经50道工序，按钮通过严格点击测试60,000次。</li>
                        </ul>
                    </div>
                </a>
            </li>
        </ul>
        <ul class="list4 hidden">
            <li>
                <img src="/static/guanwang_second/front/images/new/greenOffice/products_11.png" alt="">
                <p class="tag">温湿度传感器</p>
                <a href="/product/87.html">
                    <div class="description">
                        <h3 class="title">温湿度传感器</h3>
                        <p>实时感应室内温度，并可以在手机上查看；传感联动自动打开空调，提供一个舒适节能的办公环境。</p>
                        <ul>
                            <li>ZigBee无线通讯技术</li>
                            <li>数字高精度温湿度传感器</li>
                            <li>超低功耗设计，电池使用寿命更长</li>
                            <li>电池欠压提醒及上报</li>
                        </ul>
                    </div>
                </a>
            </li>
            <li>
                <img src="/static/guanwang_second/front/images/new/greenOffice/products_12.png" alt="">
                <p class="tag">人体红外传感器</p>
                <a href="/product/6.html">
                    <div class="description">
                        <h3 class="title">人体红外传感器</h3>
                        <p>人体红外传感器能够实时感应人体经过，可以联动灯光等设备实现无人自动关灯，更节能。</p>
                        <ul>
                            <li>ZigBee无线通讯技术</li>
                            <li>通过体温探测人或宠物的移动联动设备自动控制功能</li>
                            <li>超低功耗设计</li>
                            <li>电池欠压提醒及上报</li>
                        </ul>
                    </div>
                </a>
            </li>
        </ul>
    </div>

</section>
<section class="advantage">
    <div class="section_title">
        <h3>GreenOffice以极低的实施和运行成本服务企业</h3>
    </div>
    <ul class="icon_advantage">
        <li>
            <div class="advImg1"></div>
            <p>成本低</p>
            <p>6个月省回设备费用</p>
            <p>运行六个月，即可将设备成本节省回来；设备状态实时监控，维护成本低。</p>
        </li>
        <li>
            <div class="advImg2"></div>
            <p>智能学习</p>
            <p>节能效率提升30%</p>
            <p>根据使用习惯，智能提醒用户及时关闭，并进行光照度跟综，持续提高节能率，延长设备寿命，减少浪费。</p>
        </li>
        <li>
            <div class="advImg3"></div>
            <p>无需布线</p>
            <p>施工仅需20天</p>
            <p>系统采用ZigBee/WiFi无线通技术，兼容原有的电路布线原理，安装简单，满足前后装各种办公室环境，实施周期短。</p>
        </li>
        <li>
            <div class="advImg4"></div>
            <p>用电和火灾预警</p>
            <p>隐患早消除</p>
            <p>对长时间的异常过载，但电流达不到空开保护点的火灾隐患进行预警。</p>
        </li>
    </ul>
</section>
<section class="enterprise">
    <div class="section_title">
        <h3>GreenOffice已服务近百家企业</h3>
    </div>
    <ul class="enterprise_list">
        <li>
            <img src="/static/guanwang_second/front/images/new/greenOffice/enterprise_01.jpg" alt="">
            <h3>联想之星 星云加速器</h3>
            <p>项目基本概况：</p>
            <p>作为知名创投加速平台，全国面积：20000㎡，其办公人员流动大，作息不规律，需求杂乱，能源浪费严重。</p>
            <p>项目效果：</p>
            <p>平均每月节能41%；每月节省：80000元；全年节省近100万元。</p>
        </li>
        <li>
            <img src="/static/guanwang_second/front/images/new/greenOffice/enterprise_02.jpg" alt="">
            <h3>拓邦重庆研发中心</h3>
            <p>项目基本概况：</p>
            <p>项目位于重庆市北部新区黄山大道与金通大道交汇处，建筑总面积57690.3㎡，A栋共23F，B栋共8F。</p>
            <p>项目效果：</p>
            <p>整栋楼所有照明、中央空调的统一管理控制，遮阳系统、多功能会议室。</p>
        </li>
        <li>
            <img src="/static/guanwang_second/front/images/new/greenOffice/enterprise_03.png" alt="">
            <h3>智车优行（北京）科技有限公司</h3>
            <p>项目基本概况：</p>
            <p>作为一家致力于国产新能源智能电动车的“互联网造车”企业，办公区总面积达1500㎡。其希望办公区更具科技感、管理更便捷。</p>
            <p>项目效果：</p>
            <p>通过对办公区照明、中央空调、会议室、能源等统一智能化管理控制，有效提高管理效率，兼顾节能和舒适。</p>
        </li>
    </ul>
    <div class="section_title">
        <h3>更多案例</h3>
    </div>
    <div class="case">
        <img src="/static/guanwang_second/front/images/new/greenOffice/case.png" alt="">
    </div>
</section>
<section class="lastChoose">
    <div class="section_title">
        <h3>选择GreenOffice，仅需20天，让企业更节能、更高效</h3>
    </div>
    <div class="lastChoose_list">
        <img src="/static/guanwang_second/front/images/new/greenOffice/lastChoose.png" alt="">
    </div>
    <a class="join_Btn" href="javascript:;">立即升级办公环境</a>
</section>

<div class="popup">
    <iframe id="popForm" src="" width="100%" height="100%"; scrolling="no" style="border:0;"></iframe>
</div>
<div class="iframeMask" style="width: 1920px; height: 100%;"></div>

<div class="video_mask" style="width: 1920px; height: 552px; display: none;"></div>
<div class="video_modal" style="display: none;"></div>
<div class="fixed">
  <a href="http://a1.7x24cc.com/phone_webChat.html?accountId=N000000013331&chatId=2db073ca-1fea-4b3c-93a1-684ac8e47bf5" class="online"
    target="_blank" title="在线咨询" id="zhixun1">
    <div></div>
  </a>
  <a class="getTop" href="javascript:void(0)">
    <div></div>
  </a>
</div>
<div class="erweima">
  <div class="modal-mask"></div>
  <div class="modal-con">
    <div class="modal-container">
      <a href="javascript:void(0)" class="qr_close"></a>
      <h2>ORVIBO官方微信</h2>
      <p>打开微信，点击右上角的“+”，选择“扫一扫”
        <br>功能，用摄像头对准下方二维码即可。</p>
      <img src="/static/guanwang_second/front/images/new/qrcode_new.jpg" alt="">
    </div>
  </div>
</div>
<div class="miniapp">
  <div class="modal-mask"></div>
  <div class="modal-con">
    <div class="modal-container">
      <a href="javascript:void(0)" class="miniapp_close"></a>
      <h2>官方小程序二维码</h2>
      <p>打开微信，点击右上角的“+”，选择“扫一扫”
        <br>功能，用摄像头对准下方二维码即可。</p>
      <img src="/static/guanwang_second/front/images/new/prm_code.png" alt="">
    </div>
  </div>
</div>
<footer class="foot">
  <div class="content clear">
    <div class="foot_top clear">
      <div class="link_list">
        <ul>
          <li class="first_li">关于ORVIBO</li>
          <li>
            <a href="/about/about_us.html">公司简介</a>
          </li>
          <li>
            <a href="/about/join_us.html">加入我们</a>
          </li>
          <li>
            <a href="http://bbs.orvibo.com/" target="_blank">新闻动态</a>
          </li>
          <li>
            <a href="/about/contact.html">联系我们</a>
          </li>
        </ul>
      </div>
      <div class="link_list">
        <ul>
          <li class="first_li">产品及服务</li>
          <li>
            <a href="/product/productList.html">产品中心</a>
          </li>
          <li>
            <a href="/solution/house_solution.html">智慧家庭</a>
          </li>
          <li>
            <a href="/solution/office_solution.html">智慧办公</a>
          </li>
          <li>
            <a href="/solution/hotel_solution.html">智慧酒店</a>
          </li>
          <!-- <li><a href="/orvibo_inside.html">设备智能化升级方案</a></li> -->
          <li>
            <a href="/app.html">APP下载</a>
          </li>
        </ul>
      </div>
      <div class="link_list">
        <ul>
          <li class="first_li">体验购买</li>
          <li>
            <a href="https://mall.jd.com/index-677432.html" target="_blank">京东旗舰店</a>
          </li>
          <li>
            <a href="https://orvibo.tmall.com/?spm=a220o.1000855.1997427721.d4918089.8PDqRf" target="_blank">天猫旗舰店</a>
          </li>
        </ul>
      </div>
      <div class="link_list">
        <ul>
          <li class="first_li">关注及合作</li>
          <li>
            <a href="javascript:void(0)" class="qrcode">官方公众号</a>
          </li>
        </ul>
      </div>
      <div class="link_list">
        <ul>
          <li class="first_li">服务支持</li>
          <li>
            <a href="javascript:void(0)" class="miniapp_code">小程序</a>
          </li>
          <li>
            <a href="https://partner.orvibo.com/#/register" id="prm_foot" target="_blank">合作伙伴系统</a>
          </li>
        </ul>
      </div>
      <div class="tel">
        <p class="phone_num digit">400-060-6050</p>
        <p>周一至周日9:00-12:00 13:30-18:00</p>
        <a class="online_service" href="http://a1.7x24cc.com/phone_webChat.html?accountId=N000000013331&chatId=2db073ca-1fea-4b3c-93a1-684ac8e47bf5"
          target="_blank" id="zhixun">
          <i></i>
          在线咨询</a>
      </div>
    </div>
    <div class="copyright clear">
      <p>Copyright©2014-2018 深圳市欧瑞博科技有限公司 版权所有 粤ICP备12019139号-2 </p>
      <div class="language">
        <ul class="lan_list">
          <li id="en">
            <a href="/en/index.html">
              <i class="flag us_en"></i>English</a>
          </li>
          <li class="arrow_d">
            <a href="javascript:void(0)">
              <i class="flag china"></i>中文</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
 <script type="text/javascript" src=/static/guanwang_second/front/bower_components/jquery/dist/jquery.min.js?v=1529046969038>
  </script>
   <script type="text/javascript" src=/static/guanwang_second/front/js/common_ch.js?v=1529046969038>
  </script>
   <script type="text/javascript" src=/static/guanwang_second/front/js/jquery.slides.js?v=1529046969038>
  </script>
   <script type="text/javascript" src=/static/guanwang_second/front/bower_components/video.js/dist/video.min.js?v=1529046969038>
  </script>
  
  <!-- <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script> -->
  <script>
    !(function ($) {
      var host = window.location.host;
      if (host == "zhijiacloud.com" || host == "www.zhijiacloud.com") {
        $(".copyright p").text("© 2014-2017 深圳市欧瑞博科技有限公司版权所有 . 粤ICP备12019139号-3")
      }
    })(jQuery)
  </script>
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M3846GP" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
<script>
	!(function($){
        
        $(".join_Btn").click(function () {
            $("body").css({"overflow":"hidden"});
            var src = "http://cn.mikecrm.com/soPLOs2";
            $("#popForm").attr("src",src);
            $(".iframeMask").fadeIn(300);
            $(".popup").fadeIn(300);
            $(".iframeMask").click(function(){
                $(".popup").fadeOut(300);
                $(".iframeMask").fadeOut(300);
                $("body").css({"overflow":"auto"});
            });
        });
        
        $(".select1").click(function () {
            $(".flowchart .flow .centerTap .dashed_block").removeClass("taped");
            $(this).addClass("taped");
            $(".flowchart .flow .rightShow > img").addClass("hidden");
            $(".flowchart .flow .rightShow .right1").removeClass("hidden");
        });
        $(".select2").click(function () {
            $(".flowchart .flow .centerTap .dashed_block").removeClass("taped");
            $(this).addClass("taped");
            $(".flowchart .flow .rightShow > img").addClass("hidden");
            $(".flowchart .flow .rightShow .right2").removeClass("hidden");
        });
        $(".select3").click(function () {
            $(".flowchart .flow .centerTap .dashed_block").removeClass("taped");
            $(this).addClass("taped");
            $(".flowchart .flow .rightShow > img").addClass("hidden");
            $(".flowchart .flow .rightShow .right3").removeClass("hidden");
        });
        $(".select4").click(function () {
            $(".flowchart .flow .centerTap .dashed_block").removeClass("taped");
            $(this).addClass("taped");
            $(".flowchart .flow .rightShow > img").addClass("hidden");
            $(".flowchart .flow .rightShow .right4").removeClass("hidden");
        });
        $(".select5").click(function () {
            $(".flowchart .flow .centerTap .dashed_block").removeClass("taped");
            $(this).addClass("taped");
            $(".flowchart .flow .rightShow > img").addClass("hidden");
            $(".flowchart .flow .rightShow .right5").removeClass("hidden");
        });

        $(".products .tap1").click(function () {
            $(".products .tap a").removeClass("active");
            $(this).addClass("active");
            $(".products .content > ul").addClass("hidden");
            $(".products .content .list1").removeClass("hidden");
        });
        $(".products .tap2").click(function () {
            $(".products .tap a").removeClass("active");
            $(this).addClass("active");
            $(".products .content > ul").addClass("hidden");
            $(".products .content .list2").removeClass("hidden");
        });
        $(".products .tap3").click(function () {
            $(".products .tap a").removeClass("active");
            $(this).addClass("active");
            $(".products .content > ul").addClass("hidden");
            $(".products .content .list3").removeClass("hidden");
        });
        $(".products .tap4").click(function () {
            $(".products .tap a").removeClass("active");
            $(this).addClass("active");
            $(".products .content > ul").addClass("hidden");
            $(".products .content .list4").removeClass("hidden");
        });
        
        $(".viewVideo").click(function(){
            $("body").css({"overflow":"hidden"});
            var width = $(window).width();
            var height = $(window).height();
            var src="http://1251222210.vod2.myqcloud.com/4369dc59vodtransgzp1251222210/c4a4781e9031868223085603504/CTYgZBiGZ4IA.f20.mp4";
            $(".video_modal").fadeIn(300);
            $(".video_modal").append('<video id="really-cool-video" class="video-js" controls preload="auto" autoplay data-setup='+'{ "controls": true, "autoplay": true, "preload": "auto"}'+' style="width:1190px;height:600px"><source src="'+src+'" type="video/mp4" /></video>');
            $(".video_mask").css({"width":width+"px","height":height+"px"});
            $(".video_mask").fadeIn(300);
            $(".video_mask").click(function(){
                $(".video_modal").fadeOut(300);
                $(".video_mask").fadeOut(300);
                $("#really-cool-video").remove();
                $("body").css({"overflow":"auto"});
            });
        });

        var w_width = $(window).width();
        var target_height = 724/1920*w_width;
        $(".i_banner").height(target_height);
        $(".ib_slider").height(target_height);
        $(".ib_slider li").height(target_height);

        var isAnimate = true;
        var slider = new $('.ib_slider').slidesjs({
            height: target_height,
            event:"click",
            play: {
                active: false,
                auto: true,
                interval: 5000,
                restartDelay: 5000,
                swap: true
            },
            navigation: {
                active: false
            },
            pagination: {
                active: true
            },
            effect: {
                slide: {
                    speed: 1200
                }
            },
            callback:{
                complete:function(index){
                    var bef = 0;
                    if (isAnimate){
                        if (index == 1){
                            bef = $(".ib_mark .slidesjs-pagination-item").length - 1
                        } else {
                            bef = index - 2
                        }
                        $(".ib_mark .slidesjs-pagination-item").eq(bef).find(".im_progress").css({"width":"0"})
                        $(".ib_mark .slidesjs-pagination-item").each(function(){
                            var aEle = $(this).find("a");
                            if (parseInt(aEle.attr("html")) == index){
                                startAnimate(index-1,"im_progress","im_active");
                            }
                        });
                    }
                }
            }
        });

        function startAnimate(index,className1,className2){
            var speed = 4500;
            if (index == undefined || className1 == undefined || className2 == undefined){
                return false;
            }
            if (typeof index != "number" && typeof index != "string"){
                return false;
            }
            if (typeof index == "string"){
                index = parseInt(index);
                if (index == NaN){
                    return false;
                }
            }
            var ele1 = $(".ib_mark .slidesjs-pagination-item").eq(index).find("."+className1);
            var ele2 = $(".ib_mark .slidesjs-pagination-item").eq(index).find("."+className2);
            if (ele1 == undefined || ele2 == undefined){
                return false;
            }
            ele1.stop(true,true).animate({width:"50px"}, speed);
        }
        startAnimate(0,"im_progress","im_active");
        $(".slidesjs-pagination-item a").click(function(){
            var ele1 = $(".slidesjs-pagination-item a").find(".im_progress");
            var ele2 = $(".slidesjs-pagination-item a").find(".im_active");
            ele1.stop(true,true).css({"width":"0"});
            ele2.css({"width":"50px"});
            $(this).find(".im_progress").stop(true,true).css({"width":"50px"});
            $(this).find(".im_active").css({"width":"0"});
            isAnimate = false;
        });


        $(".slidesjs-slide").css("background-size","100%")
        $(window).resize(function(){
            var w_width = $(window).width();
            var target_height = 724/1920*w_width;
            $(".i_banner").height(target_height);
            $(".ib_slider").height(target_height);
            $(".ib_slider li").height(target_height);
            $(".slidesjs-slide").css("background-size","100%")
        })
    })(jQuery);
</script>
