<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
>
<head>
<title>网站后台管理系统</title>
<meta charset="utf-8" />
	<meta th:include="common :: head_common" th:remove="tag"></meta>
	
	<style th:include="common :: css_common" th:remove="tag"></style>
	
	<div th:include="common :: script_common" th:remove="tag"></div>

</head>
<body  th:with="baseReqPath='/admin/adminrole'">
	<ol class="breadcrumb">
	  <li><a th:href="@{/home}"><i class="icon icon-home"></i>首页</a></li>
	  <li>管理员角色</li>
	  <li>编辑</li>
	</ol>
	
	<form class="form-horizontal edit-form" th:action="@{|${baseReqPath}/ajax/edit/save|}">
		
		
		<div class="form-group hide">
			<label for="uid" class="col-sm-1"> 自增主键 : </label>
			<div class="col-md-4 col-sm-10">
		      <input type="text" class="form-control" name="uid" id="uid"  required="required" th:value="${editObj.uid}"/>
		      <input type="text" class="form-control" name="nodes" id="nodes" required="required" th:value="${nodes}"/>
		    </div>
		</div>
		
		<div class="form-group ">
			<label for="role" class="col-sm-1"> 角色编码 : </label>
			<div class="col-md-4 col-sm-10">
		      <input type="text" class="form-control" name="role" id="role"  required="required" th:value="${editObj.role}"/>
		    </div>
		</div>
		
		<div class="form-group ">
			<label for="roleName" class="col-sm-1"> 角色名称 : </label>
			<div class="col-md-4 col-sm-10">
		      <input type="text" class="form-control" name="roleName" id="roleName"  required="required" th:value="${editObj.roleName}"/>
		    </div>
		</div>
		
		<div class="form-group ">
			<label for="roleName" class="col-sm-1"> 权限配置 : </label>
			<div class="col-md-4 col-sm-10">
		      <div  id="menu_tree" class="ztree" style="border: 1px solid #ccc"></div>
		    </div>
		</div>
		
		<div class="form-group ">
			<label for="createDate" class="col-sm-1"> 创建日期 : </label>
			<div class="col-md-4 col-sm-10">
	  			<input type="text" disabled="disabled" class="form-control" name="createDate" id="createDate"   th:value="${#dates.format(editObj.createDate, 'yyyy-MM-dd HH:mm:ss')}"/>
		    </div>
		</div>
		
		<div class="form-group ">
			<label for="remark" class="col-sm-1"> 备注 : </label>
			<div class="col-md-4 col-sm-10">
		      <input type="text" class="form-control" name="remark" id="remark"   th:value="${editObj.remark}"/>
		    </div>
		</div>
		
	 
	  <div class="form-group">
	    <div class="col-sm-offset-1 col-sm-10">
	      <button type="submit" class="btn btn-primary">保存</button>
	      
	      <button type="button" class="btn btn-default" onclick="history.back()">返回</button>
	    </div>
	  </div>
	  
	</form>
	

</body>



<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
	
		var setting = {
				 data: {
					 simpleData: {
							enable: true,
							idKey: "uid",
							pIdKey: "parentId",
							rootPId: "0"
						},
						keep: {
			                    parent: true,
			                    leaf: true
			                },
						key:{
							name:"permissionName"
						}
				 },
				 callback: {
			  		onClick: onNodeClick,
			  		onCheck: nocheckNode
				 },
				 view: {
				 	selectedMulti: false
				 },
	    		 check: {
					enable: true,
					nocheckInherit: true
				 }
			};
	
		var menuTree;
		
		$.ajax({
			type : "GET",
			url : [[@{|/admin/adminpermission/ajax/list/all|}]],
			dataType : "json",
			async : true,
			success : function(result) {
				var data = result.data;
				//data.push({name: "根节点", uid: "0"});
				menuTree = $.fn.zTree.init($("#menu_tree"), setting, data); 
				menuTree.expandAll(true);
				
				$("#nodes").val().split(",").forEach(x => {
					menuTree.checkNode(menuTree.getNodeByParam("uid", x, null),true,false,true);
				})
			},
			error : function() {
				
			}
		});
	
		function nocheckNode(e) {
			var nodes = menuTree.getCheckedNodes(true);
			if(nodes){
				$("#nodes").val(nodes.map(x => x.uid).join(","));
			}
			
		}	
		
		function onNodeClick(event, treeId, treeNode) {
			
			menuTree.checkNode(treeNode,true,true,true);
			
		}

		
	
		var referer = [[${#httpServletRequest.getHeader('Referer')}]];
		
        var formValidation = $('.edit-form').formValidation();
        
        var formValidationPlugin = $('.edit-form').data('formValidation');
        
        formValidation.on('success.form.fv', function(e) {
            // Prevent form submission
            e.preventDefault();

            // Get the form instance
            var $form = $(e.target);

            // Get the FormValidation instance
            var bv = $form.data('formValidation');

            // Use Ajax to submit form data
            $.post($form.attr('action'), $form.serialize(), function(result) {
                
                if(result.success){
            		location.href = referer;
				}else{
					new $.zui.Messager('提示消息：操作失败!', {
					    type: 'danger' // 定义颜色主题
					}).show();
					
					formValidationPlugin.disableSubmitButtons(false);
				}
                
            }, 'json');
        });
    
	
	
	$(function(){
		$('#updateDate').attr('disabled','disabled');
		$('#createDate').attr('disabled','disabled');
	})
/*]]>*/
</script>

</html>