<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
>
<head>
<title>网站后台管理系统</title>
<meta charset="utf-8" />
	<meta th:include="common :: head_common" th:remove="tag"></meta>
	
	<style th:include="common :: css_common" th:remove="tag"></style>


</head>
<body  th:with="baseReqPath='/admin/adminuser'">
	<ol class="breadcrumb">
	  <li><a th:href="@{/home}"><i class="icon icon-home"></i>首页</a></li>
	  <li>系统用户</li>
	  <li>添加</li>
	</ol>
	
	<form class="form-horizontal edit-form" th:action="@{|${baseReqPath}/ajax/add/save|}">
		
	  <div class="form-group hide">
	    <label for="uid" class="col-sm-1">隐藏参数</label>
	    <div class="col-md-4 col-sm-10">
	      <input type="text" class="form-control" name="uid" id="uid"/>
	    </div>
	  </div>
	
	   
				<div class="form-group ">
					<label for="username" class="col-sm-1"> 用户帐号 : </label>
					<div class="col-md-4 col-sm-10">
					      <input type="text" class="form-control" name="username" id="username"  required="required" />
				    </div>
				</div>
				
	   
				<div class="form-group ">
					<label for="password" class="col-sm-1"> 密码 : </label>
					<div class="col-md-4 col-sm-10">
					      <input type="password" class="form-control" name="password" id="password"   />
				    </div>
				</div>
				
				<div class="form-group ">
					<label for="password" class="col-sm-1"> 角色选择 : </label>
					<div class="col-md-4 col-sm-10">
				      <select class="form-control" name="roleId" id="roleId" >
				      	 <option th:each="item,state : ${roles}" th:selected="${roleId == item.uid}" th:value="${item.uid}" th:text="${item.roleName}"></option>
			    	  </select>
				    </div>
				</div>
	   
				<div class="form-group ">
					<label for="mobile" class="col-sm-1"> 手机号码 : </label>
					<div class="col-md-4 col-sm-10">
					      <input type="text" class="form-control" name="mobile" id="mobile"   />
				    </div>
				</div>
				
	   
				<div class="form-group ">
					<label for="realname" class="col-sm-1"> 真实姓名 : </label>
					<div class="col-md-4 col-sm-10">
					      <input type="text" class="form-control" name="realname" id="realname"   />
				    </div>
				</div>
	  
	  
	 
	  <div class="form-group">
	    <div class="col-sm-offset-1 col-sm-10">
	      <button type="submit" class="btn btn-primary">保存</button>
	      
	      <button type="button" class="btn btn-default" onclick="history.back()">返回</button>
	    </div>
	  </div>
	</form>
	

</body>

<div th:include="common :: script_common" th:remove="tag"></div>

<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
		
		var referer = [[${#httpServletRequest.getHeader('Referer')}]];
	
        var formValidation = $('.edit-form').formValidation();
        
        var formValidationPlugin = $('.edit-form').data('formValidation');
        
        formValidation.on('success.form.fv', function(e, data) {
            // Prevent form submission
            e.preventDefault();

            // Get the form instance
            var $form = $(e.target);

            // Get the FormValidation instance
            var bv = $form.data('formValidation');

            // Use Ajax to submit form data
            $.post($form.attr('action'), $form.serialize(), function(result) {
            	if(result.success){
            		Msg.success('操作成功!',null,function(){
	            		location.href = referer;                		
                	});
				}else{
					Msg.error('提示消息：操作失败!');
					setTimeout(function(){
						formValidationPlugin.disableSubmitButtons(false);
					},1000);
				}
            }, 'json');
        });
    
        
        

	
	var options = {
			file_data_name: 'file', //上传文件name，对应controller的字段名称
			limitFilesCount: 1,//限制上传文件数
			//removeUploaded: false,//上传成功后自动从界面上移除
			deleteActionOnDone: function(file, doRemoveFile){doRemoveFile()},//删除上传成功的文件
			filters:{
			    // 只允许上传图片或图标（.ico）
			    mime_types: [
			        {title: '图片', extensions: 'jpg,gif,png'}
			    ],
			    // 最大上传文件为 1MB
			    max_file_size: '4mb',
			    // 不允许上传重复文件
			    prevent_duplicates: true
			},
			multi_selection: false, // 多选文件
			responseHandler: function(responseObject, file){
				if(responseObject.status == 200){
					var resp = JSON.parse(responseObject.response);
					$("#avatar").attr('value',resp.data.url);
				}
			},
			multipart_params: {} //	multipart 附加参数
	};
	
	
	$('#uploader').uploader(options);
	var uploader = $('#uploader').data('zui.uploader');
	
	
/*]]>*/
</script>

</html>