<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- jdbclink code generator - 2018-07-04 13:10:36 -->
<head>
<title>网站后台管理系统</title>
<meta charset="utf-8" />

	<meta th:include="common :: head_common" th:remove="tag"></meta>
	
	<style th:include="common :: css_common" th:remove="tag"></style>
	
	<script th:include="common :: script_common" th:remove="tag"></script>

</head>
<body  th:with="baseReqPath='/product/product'">
	<ol class="breadcrumb">
	  <li>产品信息管理</li>
	  <li>产品信息列表</li>
	  <li>查看</li>
	</ol>
	
	<form class="form-horizontal edit-form" th:action="@{|${baseReqPath}/ajax/edit/save|}">
		
		
		
	
	<div class="form-group hide">
		<label for="uid" class="col-sm-1"> 自增主键 : </label>
		<div class="col-md-4 col-sm-10">
		
	      
	      <input type="text" class="form-control" name="uid" id="uid"   th:value="${editObj.uid}"/>
	      
	      
	      <!-- <div class="help-block"></div> -->
	      
	    </div>
	</div>
		
	
	<div class="form-group ">
		<label for="adminId" class="col-sm-1"> 发布管理员 : </label>
		<div class="col-md-4 col-sm-10">
		
	      
	      <input type="text" class="form-control" name="adminId" id="adminId"   th:value="${editObj.adminId}"/>
	      
	      
	      <!-- <div class="help-block"></div> -->
	      
	    </div>
	</div>
		
	
	<div class="form-group ">
		<label for="categoryId" class="col-sm-1"> 产品分类 : </label>
		<div class="col-md-4 col-sm-10">
		
	      
	      <input type="text" class="form-control" name="categoryId" id="categoryId"   th:value="${editObj.categoryId}"/>
	      
	      
	      <!-- <div class="help-block"></div> -->
	      
	    </div>
	</div>
		
	
	<div class="form-group ">
		<label for="categoryName" class="col-sm-1"> 产品分类名称 : </label>
		<div class="col-md-4 col-sm-10">
		
	      
	      <input type="text" class="form-control" name="categoryName" id="categoryName"   th:value="${editObj.categoryName}"/>
	      
	      
	      <!-- <div class="help-block"></div> -->
	      
	    </div>
	</div>
		
	
	<div class="form-group ">
		<label for="coverTitle" class="col-sm-1"> 列表标题 : </label>
		<div class="col-md-4 col-sm-10">
		
	      
	      <input type="text" class="form-control" name="coverTitle" id="coverTitle"   th:value="${editObj.coverTitle}"/>
	      
	      
	      <!-- <div class="help-block"></div> -->
	      
	    </div>
	</div>
		
	
	<div class="form-group ">
		<label for="coverUrl" class="col-sm-1"> 列表配图 : </label>
		<div class="col-md-4 col-sm-10">
		
      	  
      	  <a th:href="${editObj.coverUrl}" target="_blank">
			<img th:src="${@uploadHelper.getMini(editObj.coverUrl)}" width="50" height="50" class=""/>
		  </a>
      	  
	      
	      <!-- <div class="help-block"></div> -->
	      
	    </div>
	</div>
		
	
	<div class="form-group ">
		<label for="coverIntro" class="col-sm-1"> 列表简介 : </label>
		<div class="col-md-4 col-sm-10">
		
	      
	      <input type="text" class="form-control" name="coverIntro" id="coverIntro"   th:value="${editObj.coverIntro}"/>
	      
	      
	      <!-- <div class="help-block"></div> -->
	      
	    </div>
	</div>
		
	
	<div class="form-group ">
		<label for="detailBgUrl" class="col-sm-1"> 详情背景图 : </label>
		<div class="col-md-4 col-sm-10">
		
      	  
      	  <a th:href="${editObj.detailBgUrl}" target="_blank">
			<img th:src="${@uploadHelper.getMini(editObj.detailBgUrl)}" width="50" height="50" class=""/>
		  </a>
      	  
	      
	      <!-- <div class="help-block"></div> -->
	      
	    </div>
	</div>
		
	
	<div class="form-group ">
		<label for="detailTitle" class="col-sm-1"> 详情标题 : </label>
		<div class="col-md-4 col-sm-10">
		
	      
	      <input type="text" class="form-control" name="detailTitle" id="detailTitle"   th:value="${editObj.detailTitle}"/>
	      
	      
	      <!-- <div class="help-block"></div> -->
	      
	    </div>
	</div>
		
	
	<div class="form-group ">
		<label for="detailIntroText" class="col-sm-1"> 产品介绍 : </label>
		<div class="col-md-4 col-sm-10">
		
	      	
	      <textarea name="detailIntroText"  style="width:100%; height:100px;" id="detailIntroText" th:text="${editObj.detailIntroText}"></textarea>
	      
	      
	      <!-- <div class="help-block"></div> -->
	      
	    </div>
	</div>
		
	
	<div class="form-group ">
		<label for="detailPropsText" class="col-sm-1"> 产品特性 : </label>
		<div class="col-md-4 col-sm-10">
		
	      	
	      <textarea name="detailPropsText"  style="width:100%; height:100px;" id="detailPropsText" th:text="${editObj.detailPropsText}"></textarea>
	      
	      
	      <!-- <div class="help-block"></div> -->
	      
	    </div>
	</div>
		
	
	<div class="form-group ">
		<label for="detailParamsText" class="col-sm-1"> 产品参数 : </label>
		<div class="col-md-4 col-sm-10">
		
	      	
	      <textarea name="detailParamsText"  style="width:100%; height:100px;" id="detailParamsText" th:text="${editObj.detailParamsText}"></textarea>
	      
	      
	      <!-- <div class="help-block"></div> -->
	      
	    </div>
	</div>
		
	
	<div class="form-group ">
		<label for="detailPartsText" class="col-sm-1"> 产品配件 : </label>
		<div class="col-md-4 col-sm-10">
		
	      	
	      <textarea name="detailPartsText"  style="width:100%; height:100px;" id="detailPartsText" th:text="${editObj.detailPartsText}"></textarea>
	      
	      
	      <!-- <div class="help-block"></div> -->
	      
	    </div>
	</div>
		
	
	<div class="form-group ">
		<label for="sort" class="col-sm-1"> 排序 : </label>
		<div class="col-md-4 col-sm-10">
		
	      
	      <input type="text" class="form-control" name="sort" id="sort"   th:value="${editObj.sort}"/>
	      
	      
	      <!-- <div class="help-block"></div> -->
	      
	    </div>
	</div>
		
	
	<div class="form-group ">
		<label for="readNum" class="col-sm-1"> 查看数 : </label>
		<div class="col-md-4 col-sm-10">
		
	      
	      <input type="text" class="form-control" name="readNum" id="readNum"   th:value="${editObj.readNum}"/>
	      
	      
	      <!-- <div class="help-block"></div> -->
	      
	    </div>
	</div>
		
	
	<div class="form-group ">
		<label for="createDate" class="col-sm-1"> 创建时间 : </label>
		<div class="col-md-4 col-sm-10">
		
	      
	      <input type="text"  class="form-control"  th:value="${editObj.createDate != null ? #dates.format(editObj. createDate, 'yyyy-MM-dd HH:mm:ss') : ''}" />
	      	
	      
	      <!-- <div class="help-block"></div> -->
	      
	    </div>
	</div>
		
	
	<div class="form-group ">
		<label for="enabled" class="col-sm-1"> 启用状态 : </label>
		<div class="col-md-4 col-sm-10">
		
	      	  <select name="enabled" id="enabled" class="form-control">
		      	<option th:selected="${editObj.enabled == 0 }" value="0">禁用</option>
		      	<option th:selected="${editObj.enabled == 1 }" value="1">启用</option>
		      </select>
	      
	      <!-- <div class="help-block"></div> -->
	      
	    </div>
	</div>
		
	  
	
	  
	 
	  <div class="form-group">
	    <div class="col-sm-offset-1 col-sm-10">
	      <button type="submit" class="btn btn-primary">保存</button>
	      
	      <button type="button" class="btn btn-default" onclick="history.back()">返回</button>
	    </div>
	  </div>
	  
	</form>
	

</body>


<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/

		
	
		var referer = [[${#httpServletRequest.getHeader('Referer')}]];
		
        var formValidation = $('.edit-form').formValidation();
        
        var formValidationPlugin = $('.edit-form').data('formValidation');
        
        formValidation.on('success.form.fv', function(e) {
            // Prevent form submission
            e.preventDefault();

            // Get the form instance
            var $form = $(e.target);

            // Get the FormValidation instance
            var bv = $form.data('formValidation');
            
            /*
            var params = $form.serializeArray().map(x => {
            	var v = x.value;
            	if(x.name === 'price'){
            		//console.log(parseInt(x.value * 100))
            		v = parseInt(x.value * 100)
                }
            	return `${x.name}=${v}`;

            }).join('&');
            */

            // Use Ajax to submit form data
            $.post($form.attr('action'), $form.serialize(), function(result) {
                
                if(result.success){
            		Msg.success('操作成功!',null,function(){
	            		location.href = referer;                		
                	});
				}else{
					Msg.error('提示消息：操作失败!');
					setTimeout(function(){
						formValidationPlugin.disableSubmitButtons(false);
					},1000);
				}
                
            }, 'json');
        });
    
	
	
	$(function(){
		$('input').attr('disabled','disabled');
		$('textarea').attr('disabled','disabled');
		$('select').attr('disabled','disabled');
	})
/*]]>*/
</script>

</html>