<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- jdbclink code generator - 2018-05-21 11:50:04 -->
<head>
<title th:text="#{app.title}">管理系统</title>

	<meta th:include="common :: head_common" th:remove="tag"></meta>
	
	<style th:include="common :: css_common" th:remove="tag"></style>
	
	<script th:include="common :: script_common" th:remove="tag"></script>
	
</head>
<body th:with="baseReqPath='/version/version'">


	<ol class="breadcrumb">
	  <li>版本信息管理</li>
	  <li>版本信息列表</li>
	</ol>
	
    
    <div class="panel panel" style="margin-bottom: 5px;">
   	  <div class="panel-heading">
	         筛选条件
	  </div>
	  <div class="panel-body">
	    <form class="form-inline search-form" onsubmit="return false">
		  <div class="form-group ">
		    <label for="keyword">搜索:</label>
		    <input type="text" class="form-control" id="keyword" name="keyword" placeholder="搜索关键字"/>
		  </div>
		  <div class="form-group " style="display: none;">
		    <label for="keyword">隐藏字段:</label>
		    
		  </div>
		  
	      
		  <!--
		  <div class="form-group ">
		    <label for="checkState" class="col-sm-1"> 审核状态 : </label>
		    <select class="form-control" name="checkState" id="checkState" >
			  	<option value="">全部</option>
		      	<option th:selected="${checkState == 0 }" value="0">正在审核</option>
		      	<option th:selected="${checkState == 1 }" value="1">审核通过</option>
			</select>
		  </div>
		  -->
		  
		  <button type="button" class="btn btn-primary search-btn"><i class="icon icon-search"></i> 搜索</button>
		  <button type="button" class="btn reset-btn"> 重置</button>
		</form>
	  </div>
	</div>
	
	
	
	<div class="panel panel" style="margin-bottom: 5px;">
	  <div class="panel-body">
		  <a type="button" th:href="@{|${baseReqPath}/view/add|}" class="btn btn-primary">
		  <i class="icon icon-plus-sign" style="vertical-align: middle;"></i>
		  	添加
		  </a>
	  </div>
	</div>
	
	<div style="padding: 10px;" class="dataTables_wrapper">
	
		<table id="data_table" class="display" style="width:100%;"></table>

	</div>
	

<script type="text/javascript" th:inline="javascript">
//Thymeleaf内联区
var baseReqPath = [[${baseReqPath}]];
</script>

<script type="text/javascript" th:inline="none">
	
	
	
	var dataTableUrl = baseReqPath + '/ajax/list';
    
    var table = 
   	DataTableErrorHandle($('#data_table'))
    .DataTable(
    		DataTableOperation.initDatatablesOptions({
    			ajax: function (data, callback, settings) {
    				DataTableOperation.datatableAjax(dataTableUrl, data, callback);
    			},
    		   stateSave: true,//是否保存当前表状态
        	   order: [[ 0, 'desc' ]],//默认排序
               columns : [
                   {//id列，默认隐藏
                	   title: "uid",//表头标题
                       data:"uid", //数据对应key
                       name : "uid", //对应字段名称
                       visible: false, //是否可视
                       orderable: true, //是否可排序
                       render : function(data, type, row) { //渲染单元格
                           return data;
                       },
                   },
                   {//序号列
                	   title: "#", 
                       width: 30,
                       visible: true, 
                       orderable: false,
                       render : function(data, type, row, meta) { //渲染单元格
                    	   //console.log(meta)
                    	   return meta.row + 1 + meta.settings._iDisplayStart;
                       },
                   },
           		   {
           		   
					   title: "版本号", 
					
					   data:"version", 
                       name : "version",
                       visible: true,                       
                       width: 100,
                       orderable: false,
                       //responsivePriority: 1,
                       render : function(data, type, row, meta) {
							return data;
						},
                   },
                   
           		   {
           		   
					   title: "版本序号，自增", 
					
					   data:"versionCode", 
                       name : "versionCode",
                       visible: true,                       
                       width: 100,
                       orderable: false,
                       //responsivePriority: 1,
                       render : function(data, type, row, meta) {
							return data;
						},
                   },
                   
           		   {
           		   
					   title: "下载app安装文件的url", 
					
					   data:"url", 
                       name : "url",
                       visible: true,                       
                       width: 100,
                       orderable: false,
                       //responsivePriority: 1,
                       render : function(data, type, row, meta) {
							return `
                      		<a href="${Util.emptyDefault(data, 'javascript:;')}" target="_blank">
                      			<img src="${Util.getMiniPic(data)}" width="50px" height="50px" class=""/>
                      		</a>
                      		`;
						},
                   },
                   
           		   {
           		   
					   title: "更新内容说明", 
					
					   data:"content", 
                       name : "content",
                       visible: true,                       
                       width: 100,
                       orderable: false,
                       //responsivePriority: 1,
                       render : function(data, type, row, meta) {
							return data;
						},
                   },
                   
           		   {
           		   
					   title: "设备类型", 
					
					   data:"deviceType", 
                       name : "deviceType",
                       visible: true,                       
                       width: 100,
                       orderable: false,
                       //responsivePriority: 1,
                       render : function(data, type, row, meta) {
							return data;
						},
                   },
                   
           		   {
           		   
					   title: "创建时间", 
					
					   data:"createDate", 
                       name : "createDate",
                       visible: true,                       
                       width: 100,
                       orderable: false,
                       //responsivePriority: 1,
                       render : function(data, type, row, meta) {
                           return Util.longToDateTime(data);
						},
                   },
                   
           		   {
           		   
					   title: "app安装文件的相对路径", 
					
					   data:"appPath", 
                       name : "appPath",
                       visible: true,                       
                       width: 100,
                       orderable: false,
                       //responsivePriority: 1,
                       render : function(data, type, row, meta) {
							return data;
						},
                   },
                   
           		   {
           		   
					   title: "审核状态", 
					
					   data:"checkState", 
                       name : "checkState",
                       visible: true,                       
                       width: 100,
                       orderable: false,
                       //responsivePriority: 1,
                       render : function(data, type, row, meta) {
							return `
					      		${!(data === 0)?"":`<span class="label label-badge label-info" >正在审核</span>`}
					      		${!(data === 1)?"":`<span class="label label-badge label-info" >审核通过</span>`}
					      	`;
						},
                   },
                   
                   
                   {
                	   title: "操作",
                       data:"uid", 
                       name : "uid",
                       width: 100,
                       visible: true,
                       responsivePriority: 1,
                       orderable: false,
                       render : function(data, type, row) {
                    	   return `
	                           ${!true ? '' : `<a class="btn btn-mini btn-primary" href="${baseReqPath}/view/edit?uid=${row.uid}">编辑</a>`}
	                           <br/>
                           `
                       },
                       
                   },
                ]
           			
           })
           );
    
    
    $('.search-btn').click(function(){
    	table.draw();
    })
    
    //清除数据表记录
    $('.reset-btn').click(function() {
    	$('input').val('');
    	table.state.clear();
    	window.location.reload();
    })
    
    //搜索框下，按下ESC触发清除搜索框
    $("#keyword").keydown(function(event){
    	
    	if(event.keyCode == 13 ){ //enter
    		$(".search-btn").click();
    	}else if(event.keyCode == 27 ){//esc
       		$("#keyword").val('');
       	}
    	
	});
    
           
</script>


</body>
</html>