<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- jdbclink code generator - 2018-05-21 11:50:04 -->
<head>
<title>网站后台管理系统</title>
<meta charset="utf-8" />
	<meta th:include="common :: head_common" th:remove="tag"></meta>
	
	<style th:include="common :: css_common" th:remove="tag"></style>
	
	<script th:include="common :: script_common" th:remove="tag"></script>

</head>
<body  th:with="baseReqPath='/version/version'">
	<ol class="breadcrumb">
	  <li>版本信息管理</li>
	  <li>版本信息列表</li>
	  <li>查看</li>
	</ol>
	
	<form class="form-horizontal edit-form" th:action="@{|${baseReqPath}/ajax/edit/save|}">
		
		
		
	
	<div class="form-group hide">
		<label for="uid" class="col-sm-1">  : </label>
		<div class="col-md-4 col-sm-10">
		
	      
	      <input type="text" class="form-control" name="uid" id="uid"   th:value="${editObj.uid}"/>
	      
	      
	      <!-- <div class="help-block"></div> -->
	      
	    </div>
	</div>
		
	
	<div class="form-group ">
		<label for="version" class="col-sm-1"> 版本号 : </label>
		<div class="col-md-4 col-sm-10">
		
	      
	      <input type="text" class="form-control" name="version" id="version"   th:value="${editObj.version}"/>
	      
	      
	      <!-- <div class="help-block"></div> -->
	      
	    </div>
	</div>
		
	
	<div class="form-group ">
		<label for="versionCode" class="col-sm-1"> 版本序号，自增 : </label>
		<div class="col-md-4 col-sm-10">
		
	      
	      <input type="text" class="form-control" name="versionCode" id="versionCode"   th:value="${editObj.versionCode}"/>
	      
	      
	      <!-- <div class="help-block"></div> -->
	      
	    </div>
	</div>
		
	
	<div class="form-group ">
		<label for="url" class="col-sm-1"> 下载app安装文件的url : </label>
		<div class="col-md-4 col-sm-10">
		
      	  
      	  <a th:href="${editObj.url}" target="_blank">
			<img th:src="${@uploadHelper.getMini(editObj.url)}" width="50" height="50" class=""/>
		  </a>
      	  
	      
	      <!-- <div class="help-block"></div> -->
	      
	    </div>
	</div>
		
	
	<div class="form-group ">
		<label for="content" class="col-sm-1"> 更新内容说明 : </label>
		<div class="col-md-4 col-sm-10">
		
	      
	      <input type="text" class="form-control" name="content" id="content"   th:value="${editObj.content}"/>
	      
	      
	      <!-- <div class="help-block"></div> -->
	      
	    </div>
	</div>
		
	
	<div class="form-group ">
		<label for="deviceType" class="col-sm-1"> 设备类型 : </label>
		<div class="col-md-4 col-sm-10">
		
	      
	      <input type="text" class="form-control" name="deviceType" id="deviceType"   th:value="${editObj.deviceType}"/>
	      
	      
	      <!-- <div class="help-block"></div> -->
	      
	    </div>
	</div>
		
	
	<div class="form-group ">
		<label for="createDate" class="col-sm-1"> 创建时间 : </label>
		<div class="col-md-4 col-sm-10">
		
	      
	      <input type="text"  class="form-control"  th:value="${editObj.createDate != null ? #dates.format(editObj. createDate, 'yyyy-MM-dd HH:mm:ss') : ''}" />
	      	
	      
	      <!-- <div class="help-block"></div> -->
	      
	    </div>
	</div>
		
	
	<div class="form-group ">
		<label for="appPath" class="col-sm-1"> app安装文件的相对路径 : </label>
		<div class="col-md-4 col-sm-10">
		
	      
	      <input type="text" class="form-control" name="appPath" id="appPath"   th:value="${editObj.appPath}"/>
	      
	      
	      <!-- <div class="help-block"></div> -->
	      
	    </div>
	</div>
		
	
	<div class="form-group ">
		<label for="checkState" class="col-sm-1"> 审核状态 : </label>
		<div class="col-md-4 col-sm-10">
		
	      	  <select name="checkState" id="checkState" class="form-control">
		      	<option th:selected="${editObj.checkState == 0 }" value="0">正在审核</option>
		      	<option th:selected="${editObj.checkState == 1 }" value="1">审核通过</option>
		      </select>
	      
	      <!-- <div class="help-block"></div> -->
	      
	    </div>
	</div>
		
	  
	
	  
	 
	  <div class="form-group">
	    <div class="col-sm-offset-1 col-sm-10">
	      <button type="submit" class="btn btn-primary">保存</button>
	      
	      <button type="button" class="btn btn-default" onclick="history.back()">返回</button>
	    </div>
	  </div>
	  
	</form>
	

</body>


<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/

		
	
		var referer = [[${#httpServletRequest.getHeader('Referer')}]];
		
        var formValidation = $('.edit-form').formValidation();
        
        var formValidationPlugin = $('.edit-form').data('formValidation');
        
        formValidation.on('success.form.fv', function(e) {
            // Prevent form submission
            e.preventDefault();

            // Get the form instance
            var $form = $(e.target);

            // Get the FormValidation instance
            var bv = $form.data('formValidation');
            
            /*
            var params = $form.serializeArray().map(x => {
            	var v = x.value;
            	if(x.name === 'price'){
            		//console.log(parseInt(x.value * 100))
            		v = parseInt(x.value * 100)
                }
            	return `${x.name}=${v}`;

            }).join('&');
            */

            // Use Ajax to submit form data
            $.post($form.attr('action'), $form.serialize(), function(result) {
                
                if(result.success){
            		Msg.success('操作成功!',null,function(){
	            		location.href = referer;                		
                	});
				}else{
					Msg.error('提示消息：操作失败!');
					setTimeout(function(){
						formValidationPlugin.disableSubmitButtons(false);
					},1000);
				}
                
            }, 'json');
        });
    
	
	
	$(function(){
		$('input').attr('disabled','disabled');
		$('textarea').attr('disabled','disabled');
		$('select').attr('disabled','disabled');
	})
/*]]>*/
</script>

</html>