<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	
	<meta th:include="common :: head_common" th:remove="tag"></meta>
	
	<title>欧瑞博 - 专注智能家居，引领万物互联</title>
	<meta name="Keywords" content="欧瑞博,欧瑞博官网,智能家居,智能家居公司,智能家居系统,智能家居加盟,智能家居控制系统" />
	<meta name="description" content="ORVIBO欧瑞博是一家专注于智能家居产品和智能家居系统的创新型企业，提供智能家居整体解决方案，面向全国招募智能家居加盟商。" />

</head>
<body>


<div th:include="common :: header_common" th:remove="tag"></div>



<section class="banner_profile">
    <div class="bgImg">
        <div class="profile_text">
            <div class="text1">
                <p>引 领 万 物 互 联 创 造 智 慧 未 来</p>
                <p>为 全 球 ⽤ 户 创 造 智 能 化 的 、 可 持 续 发 展 的 ⽣ 态 环 境 ⽽ 努 ⼒ 。</p>
            </div>
        </div>
    </div>
</section>
<div id="about_ORVIBO">
<section class="secondFloor" style="height: auto; margin-bottom: 20px;">
    <div class="section_title">
        <h3>关于ORVIBO</h3>
        <p>ORVIBO欧瑞博通过物联⽹、⼈⼯智能、云计算等技术，连接基础电器，使设备互联互通，构建包括</p>
        <p>智能控制中心、智能照明系统、暖通环境系统、智能安防系统、能源管理系统、智能影音系统、门窗遮阳系统等七大系统。</p>
        <p>团队坚持研发投⼊与设计创新，实现对家居、办公、酒店等场景的智能化，给用户创造更安全、更节能、更高效、可持续发展的居住环境。</p>
        <p>ORVIBO欧瑞博通过物联⽹、⼈⼯智能、云计算等技术，连接基础电器，使设备互联互通，构建包括</p>
        <p>智能控制中心、智能照明系统、暖通环境系统、智能安防系统、能源管理系统、智能影音系统、门窗遮阳系统等七大系统。</p>
        <p>团队坚持研发投⼊与设计创新，实现对家居、办公、酒店等场景的智能化，给用户创造更安全、更节能、更高效、可持续发展的居住环境。</p>
        <p>ORVIBO欧瑞博通过物联⽹、⼈⼯智能、云计算等技术，连接基础电器，使设备互联互通，构建包括</p>
        <p>智能控制中心、智能照明系统、暖通环境系统、智能安防系统、能源管理系统、智能影音系统、门窗遮阳系统等七大系统。</p>
        <p>团队坚持研发投⼊与设计创新，实现对家居、办公、酒店等场景的智能化，给用户创造更安全、更节能、更高效、可持续发展的居住环境。</p>
        <p>ORVIBO欧瑞博通过物联⽹、⼈⼯智能、云计算等技术，连接基础电器，使设备互联互通，构建包括</p>
        <p>智能控制中心、智能照明系统、暖通环境系统、智能安防系统、能源管理系统、智能影音系统、门窗遮阳系统等七大系统。</p>
        <p>团队坚持研发投⼊与设计创新，实现对家居、办公、酒店等场景的智能化，给用户创造更安全、更节能、更高效、可持续发展的居住环境。</p>
        <p>ORVIBO欧瑞博通过物联⽹、⼈⼯智能、云计算等技术，连接基础电器，使设备互联互通，构建包括</p>
        <p>智能控制中心、智能照明系统、暖通环境系统、智能安防系统、能源管理系统、智能影音系统、门窗遮阳系统等七大系统。</p>
        <p>团队坚持研发投⼊与设计创新，实现对家居、办公、酒店等场景的智能化，给用户创造更安全、更节能、更高效、可持续发展的居住环境。</p>
        <p>ORVIBO欧瑞博通过物联⽹、⼈⼯智能、云计算等技术，连接基础电器，使设备互联互通，构建包括</p>
        <p>智能控制中心、智能照明系统、暖通环境系统、智能安防系统、能源管理系统、智能影音系统、门窗遮阳系统等七大系统。</p>
        <p>团队坚持研发投⼊与设计创新，实现对家居、办公、酒店等场景的智能化，给用户创造更安全、更节能、更高效、可持续发展的居住环境。</p>
    </div>
    
</section>



<div th:include="common :: footer_common" th:remove="tag"></div>

<div th:include="common :: script_common" th:remove="tag"></div>

  
  
</body>
</html>