<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	
	<meta th:include="common :: head_common" th:remove="tag"/>
</head>
<body>


<div th:include="common :: header_common" th:remove="tag"></div>



<section class="home_title">
	<div class="ht_container">
            <div class="ht_logo"></div>
            <h1>智慧家庭全宅智能系统</h1>
            <p class="ht_txt">为追求高品质生活的人士打造全宅智能控制系统，实现智能照明、智能安防、智能控制、影音娱乐四大系统的各种设备智能互联，让你尊享生活。</p>
            <a href="javascript:void(0)"></a>
        </div>
</section>
<section class="home_system">
	<div class="hs_container">
		<p class="hc_title">丰富、完整的七大全宅智能系统</p>
		<em></em>
		<div class="hc_content">
			<div class="hc_pic"></div>
			<div class="hc_item hc_one">
				<img src="/static/guanwang_second/front/images/new_version/home_icon1.png" alt="智能安防">
				<div class="hi_text">
					<p class="ht_title">智能安防</p>
					<p class="ht_txt">安防门禁系统支持门锁、门磁、人体红外感应器、烟雾报警器、摄像头等多种安防设备的组合与联动，满足家庭安全的第一需求。</p>
				</div>
			</div>
			<div class="hc_item hc_two">
				<img src="/static/guanwang_second/front/images/new_version/home_icon2.png" alt="智能影音">
				<div class="hi_text">
					<p class="ht_title">智能影音</p>
					<p class="ht_txt">远程操控全部家电设备，实时查看家电当前开关状态，并可设置家电之间的联动。</p>
				</div>
			</div>
			<div class="hc_item hc_three">
				<img src="/static/guanwang_second/front/images/new_version/home_icon3.png" alt="智能门锁">
				<div class="hi_text">
					<p class="ht_title">智能门锁</p>
					<p class="ht_txt">五合一的安全开门方式，带给用户最便捷的生活体验。同时，智能门锁可以与家居环境实现场景联动，设定符合用户个性化的回家模式。</p>
				</div>
			</div>
			<div class="hc_item hc_four">
				<img src="/static/guanwang_second/front/images/new_version/home_icon4.png" alt="智能照明">
				<div class="hi_text">
					<p class="ht_title">智能照明</p>
					<p class="ht_txt">除本地触控外，可通过App远程操控；结合RGB灯带DIY任意场景氛围模式。</p>
				</div>
			</div>
			<div class="hc_item hc_five">
				<img src="/static/guanwang_second/front/images/new_version/home_icon5.png" alt="智能窗帘">
				<div class="hi_text">
					<p class="ht_title">智能窗帘</p>
					<p class="ht_txt">根据光线强弱联动调整窗帘开关，根据空气质量联动开窗通风，打造健康舒适的生活环境。</p>
				</div>
			</div>
			<div class="hc_item hc_six">
				<img src="/static/guanwang_second/front/images/new_version/home_icon6.png" alt="智能睡眠">
				<div class="hi_text">
					<p class="ht_title">智能睡眠</p>
					<p class="ht_txt">监控呼气频率、心跳，发现异常及时报警，保障客户的身体健康。并在次日提交完整且详细的睡眠报告让客户了解睡眠质量情况，有助改善睡眠状况。</p>
				</div>
			</div>
			<div class="hc_item hc_seven">
				<img src="/static/guanwang_second/front/images/new_version/home_icon7.png" alt="智能家电控制">
				<div class="hi_text">
					<p class="ht_title">智能家电控制</p>
					<p class="ht_txt">智能家电控制可实现家里所有电器都通过远程开启或关闭。及时出差在外也可以帮家人调节安全、健康、舒适的家居环境。</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="home_section">
	<div class="hs_container">
		<p class="hs_title">更简单、实用、安全、可靠的智能家居系统</p>
		<em></em>
		<div class="hs_item hs_one">
			<p class="hi_number">No.1</p>
			<div class="hi_pic"></div>
			<div class="hi_text">
				<p class="hi_title">简单安装</p>
				<p class="hi_txt">ZigBee无线通讯技术无需布线</p>
			</div>
		</div>
		<div class="hs_item hs_two">
			<p class="hi_number">No.2</p>
			<div class="hi_pic"></div>
			<div class="hi_text">
				<p class="hi_title">实用便捷</p>
				<p class="hi_txt">更人性化的产品设计更简单的使用方式</p>
			</div>
		</div>
		<div class="hs_item hs_three">
			<p class="hi_number">No.3</p>
			<div class="hi_pic"></div>
			<div class="hi_text">
				<p class="hi_title">安全可靠</p>
				<p class="hi_txt">金融级的智能家居云平台</p>
			</div>
		</div>
		<div class="hs_item hs_four">
			<p class="hi_number">No.4</p>
			<div class="hi_pic"></div>
			<div class="hi_text">
				<p class="hi_title">兼容扩展性强</p>
				<p class="hi_txt">新增设备任意连接跨品牌产品可实现互联互通</p>
			</div>
		</div>
		<div class="hs_item hs_five">
			<p class="hi_number">No.5</p>
			<div class="hi_pic"></div>
			<div class="hi_text">
				<p class="hi_title">超低功耗</p>
				<p class="hi_txt">ZigBee无线通讯技术，稳定、可靠、超低功耗</p>
			</div>
		</div>
	</div>
</section>
<section class="home_banner">
	<div class="hb_block hb_one">
		<div class="hb_container">
			<p class="hc_title">回家模式</p>
			<em></em>
			<p class="hc_title1">一打开门，仿佛有人迎接你回家</p>
			<p class="hc_txt">当你在这座城市努力拼搏，夜班到家，只要用指纹轻轻打开家门，玄关、过道、客厅的灯光全部自动亮起，窗帘缓缓打开，柔和舒适的灯光瞬间映入眼帘，让拼搏的你终于也有了家的温情。</p>
			<div class="hc_pic"></div>
		</div>
	</div>
	<div class="hb_block hb_two">
		<div class="hb_container">
			<p class="hc_title">离家模式</p>
			<em></em>
			<p class="hc_title1">不放过任何一点风吹草动，守护家庭安全</p>
			<p class="hc_txt">当没人在家的时候，布防模式正在运行，玄关、窗户、走廊处的门窗磁传感器和人体传感器一旦触发，智能摄像机将立即录像，并拨打报警电话提醒你，全方位守护家庭安全。</p>
			<div class="hc_pic"></div>
		</div>
	</div>
	<div class="hb_block hb_three">
		<div class="hb_container">
			<p class="hc_title">娱乐模式</p>
			<em></em>
			<p class="hc_title1">在家也能浪漫约会，让家庭成为幸福的港湾</p>
			<p class="hc_txt">当你和爱人想在家里看电影的时候，只要一键开启娱乐模式，DVD、音响、电视全部自动打开，窗帘缓缓拉上，灯光变幻绚丽的色彩，让你在家就有影院版的享受。此外还有烛光晚餐场景、派对场景等任意切换。</p>
			<div class="hc_pic"></div>
		</div>
	</div>
	<div class="hb_block hb_four">
		<div class="hb_container">
			<p class="hc_title">远程控制模式</p>
			<em></em>
			<p class="hc_title1">远程查看，不错过家人的重要时刻</p>
			<p class="hc_txt">出差在外，总惦记着家里亲人？只要打开智家365APP，就可随时随地查看家人动态，还可以通过智能摄像机进行语音通话，不错过家人的重要时刻。</p>
			<div class="hc_pic"></div>
		</div>
	</div>
</section>
<section class="home_app">
	<div class="ha_container">
		<div class="ha_logo"></div>
		<p>兼容、开放的家庭智能控制系统平台</p>
		<em></em>
	</div>
</section>
<section class="case_section">
	<div class="cs_title">
		<p>经典案例</p>
		<em></em>
	</div>
<div class="featured">
  <div class="container">          
    <div class="slide active"> 
    	<img src="/static/guanwang_second/front/images/new_version/case_bg1.jpg" alt="上海 花样年·趣园"/>
    	<p class="s_title">上海 花样年·趣园</p>
    	<p class="s_txt">花样年·趣园是花样年在上海打造的智慧公寓项目，整个项目使用欧瑞博的全套智能家居系统和产品，为国际商务人士提供安全、舒适、便捷的家居生活。同时也打造了国内首个欧瑞博智慧公寓体验中心。</p>
    	<div class="s_mask"></div>
    </div>
    <div class="slide"> 
    	<img src="/static/guanwang_second/front/images/new_version/case_bg2.jpg" alt="北京 丽景长安"/>
    	<p class="s_title">北京 丽景长安</p>
    	<p class="s_txt">丽景长安是北京西的人文品质大宅，二期约300套住宅全部采用欧瑞博智能家居系列产品精装交楼，让业主享受到真正的智能家居生活。经过访谈，智能化精装是客户选择丽景长安的首要原因。</p>
    	<div class="s_mask"></div>
    </div>
    
    <div class="slide"> 
    	<img src="/static/guanwang_second/front/images/new_version/case_bg3.jpg" alt="广东佛山 创智谷"/>
    	<p class="s_title">广东佛山 创智谷</p>
    	<p class="s_txt">佛山创智谷是在政府支持下创立的智慧化科技园，是集合产业、办公、商业、服务等多业态、多功能的智慧园区。欧瑞博与创智谷达成战略合作，为园区提供一整套智慧办公解决方案，率先实现企业智能办公。</p>
    	<div class="s_mask"></div>
    </div>
    
    <div class="slide"> 
    	<img src="/static/guanwang_second/front/images/new_version/case_bg4.jpg" alt="广州  碧桂园凤凰城"/>
    	<p class="s_title">广州  碧桂园凤凰城</p>
    	<p class="s_txt">碧桂园凤凰城是集别墅、花园洋房等多形态物业于一体，占地1330万的大城项目。欧瑞博联手碧桂园，打造全屋智能化的精装住宅，为上千户业主提供科技、时尚的全新居住体验，助力凤凰城实现2015年销量第一。</p>
    	<div class="s_mask"></div>
    </div>
    
    <div class="slide"> 
    	<img src="/static/guanwang_second/front/images/new_version/case_bg5.jpg" alt="河南郑州 林语美墅"/>
    	<p class="s_title">河南郑州 林语美墅</p>
    	<p class="s_txt">林语美墅是郑州高端住宅项目，含别墅、洋房共990户。项目全部采用欧瑞博的智能家居系列产品，包括智能门锁、智能开关、智能窗帘等，确保业主尊贵、舒适的居住体验。</p>
    	<div class="s_mask"></div>
    </div>
    
    <div class="slide"> 
    	<img src="/static/guanwang_second/front/images/new_version/case_bg6.jpg" alt="湖南邵阳 中驰公馆"/>
    	<p class="s_title">湖南邵阳 中驰公馆</p>
    	<p class="s_txt">中驰公馆是湖南邵阳标杆豪宅物业，也是区域内首个科技住宅。整个社区1700多户，全部采用欧瑞博的智能家居系统，打造全屋智能的科技家居生活和“互联网+”智慧社区，成为湖南省的智慧地产项目典范。</p>
    	<div class="s_mask"></div>
    </div>
    
    <div class="slide"> 
    	<img src="/static/guanwang_second/front/images/new_version/case_bg7.jpg" alt="山东威海 香庭海岸"/>
    	<p class="s_title">山东威海 香庭海岸</p>
    	<p class="s_txt">香庭海岸是集住宅、公寓于一体的旅游地产项目。在户型打造上，携手欧瑞博，全屋配置智能家居系列产品。以全新智能化的居住体验，打动大批投资客，实现当期产品短短6个月售罄。</p>
    	<div class="s_mask"></div>
    </div>               
  </div>
  <a class="prevslide" href="javascript:void(0)"></a>
  <a class="nextslide" href="javascript:void(0)"></a>
</div>
</section>
<div class="video_mask"></div>
<div class="video_modal"></div>



<div th:include="common :: footer_common" th:remove="tag"></div>

<div th:include="common :: script_common" th:remove="tag"></div>


<script>
!(function($){
		var height = window.innerHeight ||(document.documentElement&&document.documentElement.clientHeight)||document.body.clientHeight;
		var width = window.innerWidth ||(document.documentElement&&document.documentElement.clientWidth)||document.body.clientWidth;
		var initHeight = 1500 + height - 100;
		var position = (2*height + 200)/4;
		$(".home_banner").height(3*height);
		$(".home_banner .hb_block").height(height);
		$(".home_banner .hb_block .hb_container").css({"padding-top":height*0.50+"px"});
		$(window).resize(function(){
			height = window.innerHeight ||(document.documentElement&&document.documentElement.clientHeight)||document.body.clientHeight;
			$(".home_banner").height(3*height);
			$(".home_banner .hb_block").height(height);
			initHeight = 1500 + height - 100;
		});
		function init(scrollHeight){
			if (scrollHeight >= 200){
				$(".hc_item").addClass('hc_animate');
				$(".hs_item .hi_pic").addClass('hi_animate');
				$(".hs_item .hi_text").addClass('hi_animate');
			}
		}
		$(window).scroll(function(event) {
			var scrollHeight = $(document).scrollTop();
			init(scrollHeight);
			if (scrollHeight < initHeight){
			  	$(".hb_block").removeClass('hb_curr');
			 }
			if(scrollHeight > 200 && scrollHeight < 900){
				$(".hc_item").addClass('hc_animate');
			} else if (scrollHeight >= 1200 && scrollHeight < 1500){
				$(".hs_item .hi_pic").addClass('hi_animate');
				$(".hs_item .hi_text").addClass('hi_animate');
			} else if (scrollHeight >= initHeight && scrollHeight < initHeight + position){
	  	$(".hb_one").addClass('hb_curr');
	    if ($(".hb_two").hasClass('hb_curr')){
	      //往上滑动
	      $(".hb_two").stop(true).css({filter:"alpha(opacity=0)"}).animate({opacity: 0}, 1000,function(){
	        $(this).removeClass('hb_curr');
	      });
	      $(".hb_one").stop(true).css({filter:"alpha(opacity=100)"}).animate({opacity: 1}, 1000);
	    } else {
	      $(".hb_one").css({
	        opacity: 1,
	        filter:"alpha(opacity=100)"
	      });
	    }
	  } else if (scrollHeight >= initHeight + position && scrollHeight < initHeight + 2 * position){
	    //往下滑动
	    if ($(".hb_one").hasClass('hb_curr')){
	      $(".hb_one").stop(true).css({filter:"alpha(opacity=0)"}).animate({opacity: 0}, 1000,function(){
	        $(this).removeClass('hb_curr');
	      });
	    } else if ($(".hb_three").hasClass('hb_curr')){
	      //往上滑动
	      $(".hb_three").stop(true).css({filter:"alpha(opacity=0)"}).animate({opacity: 0}, 1000,function(){
	        $(this).removeClass('hb_curr');
	      });
	    }
	    $(".hb_two").addClass('hb_curr');
	    $(".hb_two").stop(true).css({filter:"alpha(opacity=100)"}).animate({opacity: 1}, 1000);
	  } else if (scrollHeight >= initHeight + 2 * position && scrollHeight < initHeight + 3 * position){
	    //往下滑动
	    if ($(".hb_two").hasClass('hb_curr')){
	      $(".hb_two").stop(true).css({filter:"alpha(opacity=0)"}).animate({opacity: 0}, 1000,function(){
	        $(this).removeClass('hb_curr');
	      });
	    } else if ($(".hb_four").hasClass('hb_curr')){
	      //往上滑动
	      $(".hb_four").stop(true).css({filter:"alpha(opacity=0)"}).animate({opacity: 0}, 1000,function(){
	        $(this).removeClass('hb_curr');
	      });
	    }
	    $(".hb_three").addClass('hb_curr');
	    $(".hb_three").stop(true).css({filter:"alpha(opacity=100)"}).animate({opacity: 1}, 1000);
	  } else if(scrollHeight >= initHeight + 3 * position && scrollHeight < initHeight + 4 * position){
	    if ($(".hb_three").hasClass('hb_curr')){
	      $(".hb_three").stop(true).css({filter:"alpha(opacity=0)"}).animate({opacity: 0}, 1000,function(){
	        $(this).removeClass('hb_curr');
	      });
	      $(".hb_four").stop(true).css({filter:"alpha(opacity=100)"}).animate({opacity: 1}, 1000);
	    } else {
	      $(".hb_four").css({
	        opacity: 1,
	        filter:"alpha(opacity=100)",
	        top: 2*height+"px"
	      });
	    }
	    $(".hb_four").addClass('hb_curr');
	    $(".hb_four").css({top: 0});
	  } else if(scrollHeight >= initHeight + 4 * position){
	    $(".hb_block").removeClass('hb_curr');
	    $(".hb_four").css({
	      opacity: 1,
	      filter:"alpha(opacity=100)",
	      top: 2*height+"px"
	    });
	  }
	});
	$(".home_title a").click(function(){
		$("body").css({"overflow":"hidden"});
		var width = $(window).width();
		var height = $(window).height();
		var src="http://200003613.vod.myqcloud.com/200003613_7dd7631cfa5711e694c071a341bca255.f0.mp4";
		$(".video_modal").fadeIn(300);
		$(".video_modal").append('<video id="really-cool-video" class="video-js" controls preload="auto" autoplay data-setup='+'{ "controls": true, "autoplay": true, "preload": "auto"}'+' style="width:1190px;height:600px"><source src="'+src+'" type="video/mp4" /></video>');
		$(".video_mask").css({"width":width+"px","height":height+"px"});
		$(".video_mask").fadeIn(300);
		$(".video_mask").click(function(){
			$(".video_modal").fadeOut(300);
			$(".video_mask").fadeOut(300);
			$("#really-cool-video").remove();
			$("body").css({"overflow":"auto"});
		});
	});
})(jQuery);
</script>
</body>
</html>