<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>

<title></title>


</head>
<body>
<div th:fragment="head_common" >
	
	<meta charset="UTF-8">
	<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
	<meta content="telephone=no" name="format-detection">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="renderer" content="webkit">
	<meta http-equiv="x-ua-compatible" content="IE=Edge" >
    
    <link rel="stylesheet" type="text/css" href=/static/guanwang_second/front/css/global_ch.css?v=1529046969038>

    <link rel="stylesheet" type="text/css" href=/static/guanwang_second/front/css/orvibo.css?v=1529046969038>

    <link rel="stylesheet" type="text/css" href=/static/guanwang_second/front/css/other.css?v=1529046969038>
    
    
    <link rel="shortcut icon" href="/static/icon.png" />
    
    <title th:text="${seoTitle ?: @cachedDataHelper.getSeoDefaultTitle()}">网站官网</title>
	<meta name="Keywords" th:content="${seoKeywords ?: @cachedDataHelper.getSeoDefaultKeywords()}" />
	<meta name="description" th:content="${seoDescription ?: @cachedDataHelper.getSeoDefaultDescription()}" />
	
    
   
    <!--[if lt IE 9]>
	<script src="/static/guanwang_second/front/js/html5shiv.js"></script>
	<script src="/static/guanwang_second/front/js/jquery-1.9.1.min.js"></script>
	<style>
	  .i_pro ul li:hover .ip_mask{top:0;}
      .i_pro ul li:hover p.ip_title{top:120px;}
      .i_pro ul li:hover p.ip_txt{top:150px;}
      .i_pro ul li:hover a{top:200px;}
      .i_sec ul li:hover .is_block{top:200px;}
	</style>
	<![endif]-->
	
</div>

<div th:fragment="header_common" >


	<header class="header">

    <div class="content clear">
        <a href="/index.html" style="line-height: 50px;">
          <img src="/static/guanwang_second/front/images/new/logo.png" alt="logo" style="vertical-align: middle;">
        </a>
        
        <nav class="menu" style="float: right;">
            <ul>
              <li>
                  <a href="/index.html">首页</a>
              </li>
              <li>
                <a href="javascript:void(0)">产品中心</a>
                <!-- <ul th:if="false">
                  <li><a href="/product/product_list.html#1">交互中心</a></li>
                  <li><a href="/product/product_list.html#2">智能照明</a></li>
                  <li><a href="/product/product_list.html#3">门锁安防</a></li>
                  <li><a href="/product/product_list.html#4">遮阳门窗</a></li>
                  <li><a href="/product/product_list.html#5">暖通舒适</a></li>
                  <li><a href="/product/product_list.html#6">能源管理</a></li>
                  <li><a href="/product/product_list.html#7">影音娱乐</a></li>
                </ul> -->
                <ul >
                  <li th:each="item,state : ${@cachedDataHelper.getProductCategories()}">
                  	<a th:href="|/product/product_list.html#${item.uid}|" th:text="${item.name}">产品分类</a></li>
                </ul>
              </li>
              
              <li>
                <a href="javascript:void(0)">定制方案</a>
                <ul>
                  <li><a href="/solution/house_solution.html">智慧家庭</a> </li>
                  <li><a href="/solution/office_solution.html">智慧办公</a> </li>
                  <li><a href="/solution/house_solution.html">旧宅改造</a> </li>
                </ul>
              </li>
              
              <li>
                <a href="/usercase/user_case.html">成功案例</a>
              </li>

              
              <li>
                <a href="/info/info_list.html">行业资讯</a>
              </li>
              
              <li>
                <a href="javascript:void(0)">关于我们</a>
                <ul>
                  <li><a href="/about/about_us.html">公司简介</a> </li>
                  <li><a href="/about/contact.html">联系我们</a> </li>
                </ul>
              </li>
            </ul>
        </nav>
    </div>
</header> 
	

</div>


<div th:fragment="footer_common" >


<div class="fixed">
  <a th:if="false" href="http://a1.7x24cc.com/phone_webChat.html?accountId=N000000013331&chatId=2db073ca-1fea-4b3c-93a1-684ac8e47bf5" class="online"
    target="_blank" title="在线咨询" id="zhixun1">
    <div></div>
  </a>
  <a class="getTop" href="javascript:void(0)">
    <div></div>
  </a>
</div>

<div class="erweima">
  <div class="modal-mask"></div>
  <div class="modal-con">
    <div class="modal-container">
      <a href="javascript:void(0)" class="qr_close"></a>
      <h2>ORVIBO官方微信</h2>
      <p>打开微信，点击右上角的“+”，选择“扫一扫”
        <br>功能，用摄像头对准下方二维码即可。</p>
      <img src="/static/guanwang_second/front/images/new/qrcode_new.jpg" alt="">
    </div>
  </div>
</div>

	
<footer class="foot">
  <div class="content clear">
  
  
    <div class="foot_top clear">
      <div class="link_list">
        <ul>
          <li class="first_li">关于</li>
          <li>
            <a href="/about/about_us.html">公司简介</a>
          </li>
          <li>
            <a href="/about/contact.html">联系我们</a>
          </li>
        </ul>
      </div>
      
      <div class="link_list">
        <ul>
          <li class="first_li">产品及服务</li>
          <li>
            <a href="/product/product_list.html">产品中心</a>
          </li>
          <li>
            <a href="/solution/house_solution.html">智慧家庭</a>
          </li>
          <li>
            <a href="/solution/office_solution.html">智慧办公</a>
          </li>
          <li>
            <a href="/solution/house_solution.html">旧宅改造</a>
          </li>
           
        </ul>
      </div>
      
      <div class="link_list">
        <ul>
          <li class="first_li"><a style="color: #fff;" href="/usercase/house_solution.html">案例与资讯</a></li>
           <li>
            <a href="/solution/hotel_solution.html">成功案例</a>
          </li>
          <li>
            <a href="/info/info_list.html">行业资讯</a>
          </li>
        </ul>
      </div>
      
      
      <div class="link_list">
        <ul>
          <li class="first_li">关注及合作</li>
          <li>
            <a href="javascript:void(0)" class="qrcode">官方公众号</a>
          </li>
        </ul>
      </div>
      
      
      <div class="tel">
      
        <p class="phone_num digit" th:text="${@cachedDataHelper.getCustomerServiceNumber()}">400-xxx-xxx</p>
        <p th:text="${@cachedDataHelper.getWorkingTimeInfo()}">周一至周日9:00-12:00 13:30-18:00</p>
		<a th:if="false" class="online_service" href="http://a1.7x24cc.com/phone_webChat.html?accountId=N000000013331&chatId=2db073ca-1fea-4b3c-93a1-684ac8e47bf5" target="_blank" id="zhixun"> <i></i> 在线咨询
		</a>
		
		
		<!-- 留言板 start -->
<style>
  
.foot .content {
   height: auto;
   padding-bottom: 20px;
}
.foot {
    padding: 20px 0 0;
}
.foot .tel {
   text-align: left;
   width: 400px;
}
  

.ly_container {
	margin-top: 30px;

}
.ly_row{
	padding: 5px;
}
.ly_item_name{
	color: #fff;
	width: 90%;
	text-align: left;
}
.ly_text{
	width: 90%;
	color: #000;
	padding: 2px;
}
.ly_textarea{
	color: #000;
	resize: none;
	vertical-align: top;
	height: 100px;
	width: 90%;
	padding: 2px;
}
.ly_btn {
	background: #2f7cd3;
  border-radius: 4px;
  width: 136px;
  height: 35px;
  text-align: center;
  color: #fff;
  line-height: 35px;
  display: block;
  float: inherit;
  cursor: pointer;
}
.ly_btn:hover {
	background: #5e9de4;
}

.ly_title {
    font-size: 25px;
  color: #fff;
}

</style>
  
  	<div class="ly_container">
  		
  		<div class="ly_row">
  			<span class="ly_title">快速留言</span>
  		</div>
  		<div class="ly_row">
  			<label class="ly_item_name">姓名：</label>
  			<input type="text" id="msg_username" class="ly_text" />
  		</div>
  		<div class="ly_row">
  			<label class="ly_item_name">手机号码：</label>
  			<input type="text" id="msg_mobile" class="ly_text" />
  		</div>
  		<div class="ly_row">
  			<label class="ly_item_name">留言内容：</label>
  			<textarea class="ly_textarea"  id="msg_content" ></textarea>
  		</div>
  		<div class="ly_row">
  			<div class="ly_btn"> 立即留言</div>
  		</div>
  	</div>
  	
  
  <!-- 留言板 end -->
		
	</div>
	
    </div>
    
    
    <div class="copyright clear">
      <p th:text="${@cachedDataHelper.getWebCopyrightInfo()}">Copyright©2014-2018</p>
      <div class="language">
      
        <ul class="lan_list" th:if="false">
          <li id="en">
            <a href="/en/index.html">
              <i class="flag us_en"></i>English</a>
          </li>
          <li class="arrow_d">
            <a href="javascript:void(0)">
              <i class="flag china"></i>中文</a>
          </li>
        </ul>
        
        
      </div>
    </div>
    
    
  </div>
</footer>
	  
	
</div>

<div th:fragment="script_common" >

	 <script src="https://cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
	 <script type="text/javascript" src="/static/guanwang_second/front/js/common_ch.js?v=1529046969038"></script>
	 <script src="https://cdn.bootcss.com/layer/3.1.0/layer.js"></script>
	 
	 <script>
  		$('.ly_btn').click(function () {
  			var loading_index = layer.load(1, {
  			  shade: [0.2,'#ccc'] //0.1透明度的白色背景
  			});
  			var data = {};
  			data.username = $('#msg_username').val();
  			data.mobile = $('#msg_mobile').val();
  			data.content = $('#msg_content').val();
  			
  			$.post(
  					'/message/submit',
  					data,
  					function(resp){
  						layer.close(loading_index);
  						if(!resp.success) {
	  						layer.msg(resp.message || '网络错误');
	  						return;
  						}
  						
  						layer.msg('留言成功');
  						setTimeout(function(){
  							location.reload();
  						}, 1500)
  						
  					}
			);
  		})
  	
  	</script>
</div>




<script type="text/javascript" th:inline="javascript">

/*<![CDATA[*/

/*]]>*/

</script>



</body>
</html>

