<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
>
<head>
<title>网站后台管理系统</title>
<meta charset="utf-8" />
	<meta th:include="common :: head_common" th:remove="tag"></meta>
	
	<style th:include="common :: css_common" th:remove="tag"></style>
	
	<script th:include="common :: script_common" th:remove="tag"></script>

</head>
<body  th:with="baseReqPath=''">
	<ol class="breadcrumb">
	<!-- 
	  <li><a th:href="@{/home}"><i class="icon icon-home"></i>首页</a></li>
	  <li>修改密码</li>
	  -->
	</ol> 
	
	<form class="form-horizontal edit-form" th:action="@{|${baseReqPath}/changepassword/submit|}">
		
		
		<div class="form-group ">
			<label for="password" class="col-sm-1">旧密码: </label>
			<div class="col-md-4 col-sm-10">
		      <input type="password" required="required" class="form-control" name="oldPassword" id="oldPassword" />
		    </div>
		</div>
		
		<div class="form-group ">
			<label for="password" class="col-sm-1">新密码: </label>
			<div class="col-md-4 col-sm-10">
		      <input type="password" required="required" class="form-control" name="password" id="password" />
		    </div>
		</div>
		
		<div class="form-group ">
			<label for="password" class="col-sm-1">确认新密码: </label>
			<div class="col-md-4 col-sm-10">
		      <input type="password" required="required" class="form-control" data-fv-identical="true" data-fv-identical-field="password" data-fv-identical-message="两次输入的密码不一致" name="confirmPassword" id="confirmPassword" />
		    </div>
		</div>
		
	  <div class="form-group">
	    <div class="col-sm-offset-1 col-sm-10">
	      <button type="submit" class="btn btn-primary">保存</button>
	      
	      <!-- <button type="button" class="btn btn-default" onclick="window.parent.mainTabsObj.close('change_pwd');">返回</button> -->
	    </div>
	  </div>
	  
	</form>
	

</body>



<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/

		
	
		var referer = [[${#httpServletRequest.getHeader('Referer')}]];
		
        var formValidation = $('.edit-form').formValidation();
        
        var formValidationPlugin = $('.edit-form').data('formValidation');
        
        formValidation.on('success.form.fv', function(e) {
            // Prevent form submission
            e.preventDefault();

            // Get the form instance
            var $form = $(e.target);

            // Get the FormValidation instance
            var bv = $form.data('formValidation');
            
            
            
            var params = $form.serializeArray().map(x => {
            	var v = x.value;
            	if(
            			x.name === 'password'
            			||
            			x.name === 'oldPassword'
            			
            		){
            		v = md5(x.value)
                }
            	return `${x.name}=${v}`;

            }).join('&');

            // Use Ajax to submit form data
            $.post($form.attr('action'), params, function(result) {
                
                if(result.success){
            		//location.href = referer;
            		new $.zui.Messager(result.message || '操作成功!', {
					    type: 'success' // 定义颜色主题
					}).show(function(){window.parent.mainTabsObj.close('change_pwd');});
            		
				}else{
					new $.zui.Messager(result.message || '提示消息：操作失败!', {
					    type: 'danger' // 定义颜色主题
					}).show();
					
					formValidationPlugin.disableSubmitButtons(false);
				}
                
            }, 'json');
        });
    
	
	
	
	
	$(function(){
		$('#updateDate').attr('disabled','disabled');
		$('#createDate').attr('disabled','disabled');
		//$('#updateUserName').attr('disabled','disabled');
		//$('#createUserName').attr('disabled','disabled');
	})
/*]]>*/
</script>

</html>