<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
>
<head>
<title>网站后台管理系统</title>
<meta charset="utf-8" />
	<meta th:include="common :: head_common" th:remove="tag"></meta>
	
	<style th:include="common :: css_common" th:remove="tag"></style>

	<script type="text/javascript">
	var parentWin = window;
	if(parentWin !== parentWin.parent){
		try{
			document.body.style.display = 'none';
		}catch(e){
			console.warn(e);
		}
		do{
			parentWin = parentWin.parent;	
		}while(parentWin !== parentWin.parent)
		parentWin.location.reload();
	}
	</script>
	
	<style>
html {
	height: 100%;
}

body {
	height: 100%;
	background-size: cover;
}

.login-form-container {
	width: 500px;
	height: 300px;
	margin-left: -250px;
	margin-top: -200px;
	padding: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	background: #fff;
	border-radius: 4px;
}

.login-form-title {
	border-bottom: 1px dashed #ccc;
	height: 35px;
	margin-bottom: 10px;
}
</style>

</head>
<body>
	
	
		<div class="login-form-container hide">
		
		<form action="/login/submit" method="post" class="form-horizontal">
			<div class="form-group">
			    <div class="login-form-title">
			    <h2 style="font-size: 25px; margin-top: 10px;">后台管理系统</h2>
			</div>
		  </div>
		  <div class="form-group">
		    <label for="username" class="col-sm-2">账号:</label>
		    <div class="col-md-8 col-sm-10">
		      <input type="text" class="form-control" name="username" id="username" placeholder="用户名"/>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword4" class="col-sm-2">密码:</label>
		    <div class="col-md-8 col-sm-10">
		      <input type="password" class="form-control" name="password" id="password" placeholder="密码"/>
		    </div>
		  </div>
		  <!-- <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <div class="checkbox">
		        <label>
		          <input type="checkbox"> 记住我
		        </label>
		      </div>
		    </div>
		  </div> -->
		  <div class="form-group">
		    <div class="col-sm-offset-8 col-sm-10">
		      <button type="button" class="btn btn-primary" id="login-btn">登录</button>
		    </div>
		  </div>
		</form>
		
		</div>

</body>

<div th:include="common :: script_common" th:remove="tag"></div>

<script type="text/javascript" th:inline="javascript">

/*<![CDATA[*/
	
	
	$(window).keydown(function(event){
		event.keyCode == 13 && $("#login-btn").click();
	});


	$("body").css("background-image",'url("/images/bg-0'+ (parseInt(Math.random()*5) + 1) +'.jpg")');
	
	$(".login-form-container").fadeIn(300);
	
	$("#login-btn").on('click', function(){
		$.post("/login/submit",{
			username: $("#username").val(),
			password: md5($("#password").val())
			},function(result){
				if(!result.success){
					new $.zui.Messager(`提示消息：${result.message}`, {
					    type: 'danger', // 定义颜色主题
					    time: 5000,
					    placement: 'top'
					}).show();
					
					return;
				}
				
				location.href = [[@{/index.html}]]
		});
	}) 
	
	/*]]>*/
 
	
</script>

</html>