<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- jdbclink code generator - 2018-06-27 22:29:06 -->
<head>
<title>网站后台管理系统</title>
<meta charset="utf-8" />

	<meta th:include="common :: head_common" th:remove="tag"></meta>
	
	<style th:include="common :: css_common" th:remove="tag"></style>
	
	<script th:include="common :: script_common" th:remove="tag"></script>

</head>
<body  th:with="baseReqPath='/info/info'">
	<ol class="breadcrumb">
	  <li>行业资讯管理</li>
	  <li>行业资讯列表</li>
	  <li>添加</li>
	</ol>
	
	<form class="form-horizontal edit-form" th:action="@{|${baseReqPath}/ajax/add/save|}">
	
	
		
		
		
		
		<div class="form-group ">
		
			<label for="title" class="col-sm-1"> 标题 : </label>
			<div class="col-md-4 col-sm-10">
			      <input type="text" class="form-control" id="title" name="title" required="required" maxlength="64" />
			      <div class="help-block"></div> 
		    </div>
		</div>
	
		<div class="form-group ">
		
			<label for="intro" class="col-sm-1"> 简介 : </label>
			<div class="col-md-4 col-sm-10">
			      <input type="text" class="form-control" id="intro" name="intro" required="required" maxlength="128" />
			      <div class="help-block">限制128个字</div> 
		    </div>
		</div>
	
		
		<div class="form-group ">
		
			<label for="coverUrl" class="col-sm-1"> 配图 : </label>
			<div class="col-md-4 col-sm-10">
			      	<input type="hidden" class="form-control" id="coverUrl" name="coverUrl"  maxlength="256" />
				  	<div id='coverUrl_uploader' class="uploader" data-ride="uploader" ></div>
			  		<script th:inline="javascript">
					    /*<![CDATA[*/
					    	
			               	var coverUrlUploader = UploaderOperation.initUploader({
			               		uploaderId: 'coverUrl_uploader',
			               		filesUrlInputId: 'coverUrl',
			   			    	limitFilesCount: 1,
			   			    });
						   	
						   	/*]]>*/
				    </script>
			      
			      <div class="help-block"></div> 
		    </div>
		</div>
	
		
		
		<div class="form-group ">
		
			<label for="content" class="col-sm-1"> 自定义富文本内容 : </label>
			<div class="col-md-4 col-sm-10">
				  <textarea style="width:100%;height:200px;" id="content" name="content"  maxlength="" ></textarea>
				  <script type="text/javascript" th:inline="javascript">
					    $(function(){
					    	var ue = UE.getEditor('content', {
								serverUrl: [[@{|${@uploadHelper.host}/files/ueditor/controller|}]],
								initialFrameHeight: 400,
								initialFrameWidth: '100%',
								scaleEnabled : true
							});
					    })
				  </script>
				    
			      <div class="help-block" style="color: red;">* 图片建议宽度在 1000px 以内</div> 
		    </div>
		</div>
	
		
		
		<div class="form-group ">
		
			<label for="sort" class="col-sm-1"> 排序 : </label>
			<div class="col-md-4 col-sm-10">
  	  			  <input type="number" step="1" class="form-control" id="sort" name="sort" required="required" maxlength="11" value="1" />
				  
			      <div class="help-block"></div> 
		    </div>
		</div>
	
		
		
		<div class="form-group ">
		
			<label for="hotNum" class="col-sm-1"> 热门参数 : </label>
			<div class="col-md-4 col-sm-10">
  	  			  <input type="number" step="1" min="0" class="form-control" id="hotNum" name="hotNum" required="required" maxlength="11" value="1" />
				  
				  
			      <div class="help-block"></div> 
		    </div>
		</div>
		
		<div class="form-group ">
		
			<label for="seoTitle" class="col-sm-1"> SEO自定义标题 : </label>
			<div class="col-md-4 col-sm-10">
			      <input type="text" class="form-control" id="seoTitle" name="seoTitle" required="required" maxlength="255" />
			      <div class="help-block">限制255个字</div> 
		    </div>
		</div>
		
		<div class="form-group ">
		
			<label for="seoKeywords" class="col-sm-1"> SEO自定义关键字 : </label>
			<div class="col-md-4 col-sm-10">
			      <input type="text" class="form-control" id="seoKeywords" name="seoKeywords" required="required" maxlength="512" />
			      <div class="help-block">限制512个字</div> 
		    </div>
		</div>
		
		<div class="form-group ">
		
			<label for="seoDescription" class="col-sm-1"> SEO自定义说明 : </label>
			<div class="col-md-4 col-sm-10">
			      <input type="text" class="form-control" id="seoDescription" name="seoDescription" required="required" maxlength="512" />
			      <div class="help-block">限制512个字</div> 
		    </div>
		</div>
	
		
		
		<div class="form-group ">
		
			<label for="enabled" class="col-sm-1"> 启用状态 : </label>
			<div class="col-md-4 col-sm-10">
			      	  <select name="enabled" id="enabled" class="form-control" required="required">
				      	<option value="1">启用</option>
				      	<option value="0">禁用</option>
				      </select>
			      <div class="help-block"></div> 
		    </div>
		</div>
	  
	 
	  <div class="form-group">
	    <div class="col-sm-offset-1 col-sm-10">
	      <button type="submit" class="btn btn-primary">保存</button>
	      
	      <button type="button" class="btn btn-default" onclick="history.back()">返回</button>
	    </div>
	  </div>
	</form>
	

</body>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
		
		var referer = [[${#httpServletRequest.getHeader('Referer')}]];
	
        var formValidation = $('.edit-form').formValidation();
        
        var formValidationPlugin = $('.edit-form').data('formValidation');
        
        formValidation.on('success.form.fv', function(e, data) {
            // Prevent form submission
            e.preventDefault();

            // Get the form instance
            var $form = $(e.target);

            // Get the FormValidation instance
            var bv = $form.data('formValidation');

            // Use Ajax to submit form data
            $.post($form.attr('action'), $form.serialize(), function(result) {
            	if(result.success){
            		Msg.success('操作成功!',null,function(){
	            		location.href = referer;                		
                	});
				}else{
					Msg.error('提示消息：操作失败!');
					setTimeout(function(){
						formValidationPlugin.disableSubmitButtons(false);
					},1000);
				}
            }, 'json');
        });
        
    
	
/*]]>*/
</script>
</html>