<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
>
<head>
<title>网站后台管理系统</title>
<meta charset="utf-8" />
	<meta th:include="common :: head_common" th:remove="tag"></meta>
	
	<style th:include="common :: css_common" th:remove="tag"></style>
	
	<script th:include="common :: script_common" th:remove="tag"></script>
	

</head>
<body th:with="baseReqPath='/system/systemconfig'">


	<ol class="breadcrumb">
	  <!-- <li><a th:href="@{/home}"><i class="icon icon-home"></i>首页</a></li> -->
	  <li>系统管理</li>
	  <li>配置管理</li>
	</ol>
	
    
    
    
    <div class="panel panel" style="margin-bottom: 5px;">
   	  <div class="panel-heading">
	         筛选条件
	  </div>
	  <div class="panel-body">
	    <form class="form-inline search-form" onsubmit="return false">
		  <div class="form-group ">
		    <label for="keyword">搜索:</label>
		    <input type="text" class="form-control" id="keyword" name="keyword" placeholder="搜索关键字"/>
		  </div>
		  <div class="form-group " style="display: none;">
		    <label for="keyword">隐藏字段:</label>
		    
		  </div>
		  
		  <button type="button" class="btn btn-primary search-btn"><i class="icon icon-search"></i> 搜索</button>
		  <button type="button" class="btn reset-btn"> 重置</button>
		</form>
	  </div>
	</div>
    
	
	<!-- <div class="panel panel">
	  <div class="panel-body">
		  <a type="button" th:href="@{|${baseReqPath}/view/add|}" class="btn btn-primary">
		  <i class="icon icon-plus-sign" style="vertical-align: middle;"></i>
		  	添加
		  </a>
	  </div>
	</div> -->
	

		
	<div style="padding: 10px;" class="dataTables_wrapper">
	
		<table id="data_table" class="display" style="width:100%;"></table>

	</div>

<script type="text/javascript" th:inline="javascript">
//Thymeleaf内联区
var baseReqPath = [[${baseReqPath}]];
</script>

<script type="text/javascript" th:inline="none">
	
	
	
	var dataTableUrl = baseReqPath + '/ajax/list';
    
    var table = 
   	DataTableErrorHandle($('#data_table'))
    .DataTable(
    		DataTableOperation.initDatatablesOptions({
    			ajax: function (data, callback, settings) {
    				DataTableOperation.datatableAjax(dataTableUrl, data, callback);
    			},
        	   order: [[ 0, 'desc' ]],//默认排序
               columns : [
                   {//id列，默认隐藏
                	   title: "uid",//表头标题
                       data:"uid", //数据对应key
                       name : "uid", //对应字段名称
                       visible: false, //是否可视
                       orderable: true, //是否可排序
                       render : function(data, type, row) { //渲染单元格
                           return data;
                       },
                   },
                   {//序号列
                	   title: "#", 
                       width: 20,
                       visible: true, 
                       orderable: false,
                       render : function(data, type, row, meta) { //渲染单元格
                    	   //console.log(meta)
                    	   return meta.row + 1 + meta.settings._iDisplayStart;
                       },
                   },
                   {
                	   title: "键 ",
                       data:"k", 
                       name : "k",
                       width: 100,
                       visible: true,
                       orderable: false,
                       render : function(data, type, row) {
                           return data;
                       },
                   },
                   {
                	   title: "值 ",
                       data:"v", 
                       name : "v",
                       width: 100,
                       visible: true,
                       orderable: false,
                       //searchable: true,
                       //orderData: [2,0],
                       render : function(data, type, row) {
                           return data;
                       },
                   },
                   {
                	   title: "创建时间",
                       data:"createDate", 
                       name : "createDate",
                       width: 100,
                       visible: true,
                       orderable: true,
                       render : function(data, type, row) {
                           return Util.longToDateTime(data);
                       },
                   },
                   {
                	   title: "备注",
                       data:"remark", 
                       name : "enabremarkled",
                       width: 100,
                       visible: true,
                       orderable: false,
                       //responsivePriority: 2,
                       render : function(data, type, row) {
                           return data;
                       },
                       
                   },
                   {
                	   title: "操作",
                       data:"uid", 
                       name : "uid",
                       width: 100,
                       visible: true,
                       responsivePriority: 1,
                       orderable: false,
                       render : function(data, type, row) {
                    	   return `
	                           ${!true ? '' : `<a class="btn btn-mini btn-primary" href="${baseReqPath}/view/edit?uid=${row.uid}">编辑</a>`}
                           `
                       },
                       
                   },
                ]
           			
           })
           );
    
    
    $('.search-btn').click(function(){
    	table.draw();
    })
    
    //清除数据表记录
    $('.reset-btn').click(function() {
    	$('input').val('');
    	table.state.clear();
    	window.location.reload();
    })
    
    //搜索框下，按下ESC触发清除搜索框
    $("#keyword").keydown(function(event){
    	
    	if(event.keyCode == 13 ){ //enter
    		$(".search-btn").click();
    	}else if(event.keyCode == 27 ){//esc
       		$("#keyword").val('');
       	}
    	
	});
    
           
</script>
</body>
</html>