<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzcode.product.app.dao.book.BookBarMapper" >

	<!-- 基础结果集-->
    <resultMap id="BaseResultMap" type="com.xzcode.product.common.entitys.book.BookBar" >
        
		<!-- 书吧标识 -->
			<id column="uid" property="uid"/>
		<!-- 书吧店名，最多64个字 -->
			<result column="book_bar_name" property="bookBarName"/>
		<!-- 书吧配图 -->
			<result column="book_bar_figure_url" property="bookBarFigureUrl"/>
		<!-- 书吧简介 -->
			<result column="book_bar_introduce" property="bookBarIntroduce"/>
		<!-- 历史图书借出次数 -->
			<result column="lend_num" property="lendNum"/>
		<!-- 查看数 -->
			<result column="read_num" property="readNum"/>
		<!-- 省 -->
			<result column="province" property="province"/>
		<!-- 市 -->
			<result column="city" property="city"/>
		<!-- 区 -->
			<result column="area" property="area"/>
		<!-- 地点（省+市+区） -->
			<result column="location" property="location"/>
		<!-- 详细地址 -->
			<result column="address" property="address"/>
		<!-- 地理经度(预留) -->
			<result column="lng" property="lng"/>
		<!-- 地理纬度(预留) -->
			<result column="lat" property="lat"/>
		<!-- 排序，数字越大越靠前 -->
			<result column="sort" property="sort"/>
		<!-- 创建时间 -->
			<result column="create_date" property="createDate"/>
		<!-- 启用状态[0 禁用 no; 1 启用 yes] -->
			<result column="enabled" property="enabled"/>
    </resultMap>
    

    
<!-- ///////////////////////////// -->


	<!-- 表名 -->
  <sql id="Table_Name" >
    book_bar
  </sql>
  
  <!-- 表别名 -->
  <sql id="Table_Alias_Name">
    bb
  </sql>
  
  <!-- 用于查询的表名 -->
  <sql id="Select_Table_Name" >
    	<include refid="Table_Name"/>
    as 
    	<include refid="Table_Alias_Name"/>
  </sql>

  
  <!-- 查询列sql -->
  <sql id="Base_Select_Column_List" >
  <trim prefix="" suffix="" suffixOverrides="," >
  			bb.uid,
  			bb.book_bar_name,
  			bb.book_bar_figure_url,
  			bb.book_bar_introduce,
  			bb.lend_num,
  			bb.read_num,
  			bb.province,
  			bb.city,
  			bb.area,
  			bb.location,
  			bb.address,
  			bb.lng,
  			bb.lat,
  			bb.sort,
  			bb.create_date,
  			bb.enabled,
	</trim>
  </sql>
  
  <!-- 根据id查询字句 -->
  <sql id="Uid_Where">
  	where bb.uid = #{uid}
  </sql>
  
   <!-- 根据id查询字句 用于update-->
  <sql id="Uid_Where_Update">
  	where uid = #{uid}
  </sql>
  
  
  <!-- 插入列sql -->
  <sql id="Insert_Column_Trim_List">
  		<trim prefix="(" suffix=")" suffixOverrides=",">
	  			<if test="uid != null" >
		    		uid,
		   		</if>
	  			<if test="bookBarName != null" >
		    		book_bar_name,
		   		</if>
	  			<if test="bookBarFigureUrl != null" >
		    		book_bar_figure_url,
		   		</if>
	  			<if test="bookBarIntroduce != null" >
		    		book_bar_introduce,
		   		</if>
	  			<if test="lendNum != null" >
		    		lend_num,
		   		</if>
	  			<if test="readNum != null" >
		    		read_num,
		   		</if>
	  			<if test="province != null" >
		    		province,
		   		</if>
	  			<if test="city != null" >
		    		city,
		   		</if>
	  			<if test="area != null" >
		    		area,
		   		</if>
	  			<if test="location != null" >
		    		location,
		   		</if>
	  			<if test="address != null" >
		    		address,
		   		</if>
	  			<if test="lng != null" >
		    		lng,
		   		</if>
	  			<if test="lat != null" >
		    		lat,
		   		</if>
	  			<if test="sort != null" >
		    		sort,
		   		</if>
	  			<if test="createDate != null" >
		    		create_date,
		   		</if>
	  			<if test="enabled != null" >
		    		enabled,
		   		</if>
    	</trim>
  </sql>
  
  <!-- 插入值sql -->
  <sql id="Insert_Values_Trim_List">
  	<trim prefix="(" suffix=")" suffixOverrides="," >
	  			<if test="uid != null" >
		    		#{uid},
		   		</if>
	  			<if test="bookBarName != null" >
		    		#{bookBarName},
		   		</if>
	  			<if test="bookBarFigureUrl != null" >
		    		#{bookBarFigureUrl},
		   		</if>
	  			<if test="bookBarIntroduce != null" >
		    		#{bookBarIntroduce},
		   		</if>
	  			<if test="lendNum != null" >
		    		#{lendNum},
		   		</if>
	  			<if test="readNum != null" >
		    		#{readNum},
		   		</if>
	  			<if test="province != null" >
		    		#{province},
		   		</if>
	  			<if test="city != null" >
		    		#{city},
		   		</if>
	  			<if test="area != null" >
		    		#{area},
		   		</if>
	  			<if test="location != null" >
		    		#{location},
		   		</if>
	  			<if test="address != null" >
		    		#{address},
		   		</if>
	  			<if test="lng != null" >
		    		#{lng},
		   		</if>
	  			<if test="lat != null" >
		    		#{lat},
		   		</if>
	  			<if test="sort != null" >
		    		#{sort},
		   		</if>
	  			<if test="createDate != null" >
		    		#{createDate},
		   		</if>
	  			<if test="enabled != null" >
		    		#{enabled},
		   		</if>
    	</trim>
  </sql>
  
  <!-- 更新列sql -->
  <sql id="Update_Columns_Set_List">
  	<set> 		
      <trim prefix="" suffix="" suffixOverrides="," >
      			<if test="uid != null">
					uid = #{uid},
	    		</if>
      			<if test="bookBarName != null">
					book_bar_name = #{bookBarName},
	    		</if>
      			<if test="bookBarFigureUrl != null">
					book_bar_figure_url = #{bookBarFigureUrl},
	    		</if>
      			<if test="bookBarIntroduce != null">
					book_bar_introduce = #{bookBarIntroduce},
	    		</if>
      			<if test="lendNum != null">
					lend_num = #{lendNum},
	    		</if>
      			<if test="readNum != null">
					read_num = #{readNum},
	    		</if>
      			<if test="province != null">
					province = #{province},
	    		</if>
      			<if test="city != null">
					city = #{city},
	    		</if>
      			<if test="area != null">
					area = #{area},
	    		</if>
      			<if test="location != null">
					location = #{location},
	    		</if>
      			<if test="address != null">
					address = #{address},
	    		</if>
      			<if test="lng != null">
					lng = #{lng},
	    		</if>
      			<if test="lat != null">
					lat = #{lat},
	    		</if>
      			<if test="sort != null">
					sort = #{sort},
	    		</if>
      			<if test="createDate != null">
					create_date = #{createDate},
	    		</if>
      			<if test="enabled != null">
					enabled = #{enabled},
	    		</if>
      </trim>
    </set>
  </sql>
  
  <!-- ///////////////////////////// -->
  <select id="selectByPrimaryKey"  resultMap="BaseResultMap">
    select 
    	<include refid="Base_Select_Column_List" />
    from 
    	<include refid="Select_Table_Name" />
    	<include refid="Uid_Where"/>
  </select>
  
  
  
  <select id="list" resultMap="BaseResultMap">
    select 
    	<include refid="Base_Select_Column_List" />
    from 
    	<include refid="Select_Table_Name" />
  </select>
  
  
  <select id="count" resultType="int">
    	select 
    		count(*) as count 
    	from 
    		<include refid="Select_Table_Name" />
    </select>
    
    
  <delete id="deleteByPrimaryKey">
    delete from 
    	<include refid="Table_Name" />
    	<include refid="Uid_Where_Update"/>
  </delete>
  
  <insert id="insert"  >
    insert into 
       	<include refid="Table_Name" />
    	<include refid="Insert_Column_Trim_List"/>
    values 
    	<include refid="Insert_Values_Trim_List"/>
  </insert>
  
  <insert id="insertSelective" keyColumn="uid" keyProperty="uid" useGeneratedKeys="true" >
    insert into 
    	<include refid="Table_Name" />
    	<include refid="Insert_Column_Trim_List"/>
    values 
    	<include refid="Insert_Values_Trim_List"/>
  </insert>
  
  <update id="updateByPrimaryKey">
    update
    	<include refid="Table_Name" />
    	<include refid="Update_Columns_Set_List"/>
    	<include refid="Uid_Where_Update"/>
  </update>
  
  <update id="updateDelFlag">
    	update
    	<include refid="Table_Name" />
    	set
    		enabled = #{enabled}
    	<include refid="Uid_Where_Update"/>
	</update>
    
  
  <!-- ///////////////////////////// -->
  
  
  
 </mapper>
